@-moz-document url-prefix(about:preferences) {
    #tabPositionSettingsContainer {
        display: none !important;
    }

    #statusBarGroup {
        display: none !important;
    }

    #bookmarksBarPositionGroup {
        display: none !important;
    }

    #category-theme {
        display: none !important;
    }

    #firefoxThemeCategory {
        display: none !important;
    }

    #themeGroup {
        display: none !important;
    }

    [data-subcategory='highlights'] {
        display: none !important;
    }
}