@-moz-document url(about:newtab),
url(about:home){
.body-wrapper {
	.discovery-stream:not(:first-child) {
		display: none !important;
	}
}

.icon-settings {
	background-image: none !important;
}

main {
	width: auto !important;
	margin-top: 63px !important;

	@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
		margin-top: 61px !important;
	}
}

@supports not -moz-bool-pref("BeautyFox.appearance.IE10") {
	.non-collapsible-section {
		display: none;
	}
}

.search-wrapper {
	padding: 0 !important;
	margin-top: 49px !important;
	margin-bottom: 142px !important;

	.search-inner-wrapper {
		min-height: 47px !important;
		width: 100% !important;
	}

	.search-handoff-button {
		appearance: none !important;
		box-shadow: none !important;
		border-radius: 0 !important;
		padding-inline-start: 15px !important;
		padding-inline-end: 10px !important;
		border: 1px solid rgb(173, 175, 174) !important;
		background: white !important;
		font-size: 18pt !important;
		font-style: italic !important;
		color: rgb(78,85,77) !important;
		display: flex !important;
		align-items: center !important;

		.fake-textbox {
			opacity: 1 !important;
			height: 34px !important;
			text-transform: lowercase !important;
		}

		input {
			padding-inline-start: 15px !important;
		}

		&::after {
			content: '';
			margin-left: auto;
			height: 23px;
			width: 23px;
			mask: url(chrome://userchrome/content/images/newtabhome-search-mask.svg);
			mask-position: 0px -1px;
			background-color: rgb(52,52,52);
		}
	}
}

.top-sites-list {
	margin: 0 !important;
	display: grid;
	gap: 24px 24px;
	grid-template-columns: repeat(5, 1fr);
	position: relative;

	&::before {
		content: var(--popular-site-label);
		position: absolute;
		top: -51px;
		left: 0;
		font-size: 15pt;
		color: #2a2a2a;

		@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
			top: -62px;
			font-size: 21pt;
			color: rgb(80, 80, 80);
		}
	}

	@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
		&::after {
			content: '';
			position: absolute;
			top: -103px;
			right: 80px;
			height: 97px;
			width: 209px;
			background-image: url("chrome://userchrome/content/resources/ieframe.dll/Bitmap/821.png");
			background-position-y: -97px;
			background-size: cover;
			opacity: 0.5;

			@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease7777") {
				background-position-y: 0px;
			}
		}
	}
}

.top-site-outer {
	width: 150px !important;
	padding: 0 !important;
	position: relative;

	@media (max-width: 959px) {
		width: 120px !important;
	}

	&:nth-child(11),
	&:nth-child(12),
	&:nth-child(13),
	&:nth-child(14),
	&:nth-child(15),
	&:nth-child(16) {
		display: none !important;
	}

	&.placeholder {
		.tile {
			background-color: rgb(247, 247, 247) !important;

			.icon-wrapper {
				display: none !important;
			}
		}
	}

	.tile {
		width: 150px !important;
		height: 150px !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		border: 1px solid rgb(217, 217, 217) !important;
		background-color: white !important;
		margin: 0 !important;
		justify-content: unset !important;
		align-items: unset !important;

		@media (max-width: 959px) {
			width: 120px !important;
			height: 120px !important;
		}

		.icon-wrapper {
			outline: 1px solid rgb(217, 217, 217);
			outline-offset: -1px;
			border-radius: 0 !important;
			width: 32px !important;
			height: 32px !important;
			margin-top: 8px;
			margin-left: 8px;

			&.letter-fallback::before {
				font-size: 16pt !important;
				font-weight: normal !important;
				top: -2px !important;
				transform: rotate(0deg) !important;
			}

			.top-site-icon {
				border-radius: 0 !important;

				@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
					z-index: 2;
				}
			}
		}

		.search-topsite {
			display: none !important;
		}
	}

	.title {
		position: absolute !important;
		top: 41px;
		left: 8px;
		text-align: left !important;
		max-width: 134px !important;
		font-size: 9pt !important;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
	}

	.context-menu-button {
		top: 12px !important;
		right: 10px !important;
		width: 16px !important;
		height: 16px !important;
		transition: none !important;
	}
}

@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
	.top-site-outer {
		.tile {
			border-radius: 4px !important;

			.icon-wrapper:not(.letter-fallback) {
				border-radius: 2px !important;
				position: relative !important;

				background: linear-gradient(180deg, white 0%, rgb(242, 242, 242) 100%);
			}
		}
	}
}

@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
	body {
		background-color: rgb(232, 238, 245) !important;
	}
}
}