@-moz-document url(about:privatebrowsing),
               url(about:newtab),
               url(about:home) {
    body {
        background-image: linear-gradient(180deg, #02a1e2 0%, #FFFFFF 100%);
        background-size: 100% 84px;
        background-repeat: no-repeat;
        background-color: #FEFEFE !important;

        @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease7777") {
                background-image: linear-gradient(180deg, #9ddaf5 0%, #fafdff 100%);
            }
        }

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            background-image: none;
        }
    }

    .logo-and-wordmark,
    .info,
    .promo,
    #sponsored-shortcuts,
    .sponsored,
    #helpButton,
    #category-sync,
    #category-more-from-mozilla {
        display: none !important;
    }
}