:root {
    --background: white;
    --border: rgb(214, 229, 245);
    --background2: rgb(240, 240, 240);
    --border2: rgb(233, 233, 233);
    --border3: rgb(220, 220, 220);
    --button-color: black;
    --button-border: white;
    --button-outline: rgb(176, 178, 182);
    --button-background: linear-gradient(0deg, rgb(231, 231, 231) 0%, rgb(244, 244, 244) 100%);

    --button-background-hover: linear-gradient(0deg, rgb(185, 214, 252) 0%, rgb(239, 243, 249) 100%);

    --button-background-active: linear-gradient(0deg, rgb(145, 192, 253) 0%, rgb(229, 236, 246) 100%);

    --josh: rgb(0, 51, 153);

    @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
        --button-border: rgb(172, 172, 172) !important;
        --button-background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(240, 240, 240) 100%) !important;

            --button-border-hover: rgb(126, 180, 234) !important;
            --button-background-hover: linear-gradient(0deg, rgb(220, 236, 252) 0%, rgb(236, 244, 252) 100%) !important;

            --button-border-active: 1px solid rgb(86, 157, 229) !important;
            --button-background-active: linear-gradient(0deg, rgb(196, 224, 252) 0%, rgb(218, 236, 252) 100%) !important;
    }

    @media (prefers-color-scheme: dark) {
        --background: rgba(30, 30, 30, .65);
        --border: rgb(67, 72, 77);
        --background2: rgb(32, 32, 32);
        --border2: rgb(58, 57, 57);
        --border3: rgb(36, 36, 36);
        --button-color: white;
        --button-border: black;
        --button-outline: rgb(51, 52, 53);
        --button-background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(44, 44, 44) 100%);

        --button-background-hover: linear-gradient(0deg, rgb(52, 61, 71) 0%, rgb(52, 53, 54) 100%);

        --button-background-active: linear-gradient(0deg, rgb(41, 54, 71) 0%, rgb(67, 69, 71) 100%);
    
        --josh: rgb(124, 163, 243);

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            --button-border: rgb(29, 29, 29) !important;
            --button-background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(65, 65, 65)0%) !important;
    
                --button-border-hover: rgb(42, 60, 78) !important;
                --button-background-hover: linear-gradient(0deg, rgb(47, 51, 54) 0%, rgb(79, 82, 85) 100%) !important;
    
                --button-border-active: 1px solid rgb(34, 61, 88) !important;
                --button-background-active: linear-gradient(0deg, rgb(58, 66, 73) 0%, rgb(57, 62, 66)0%) !important;
        }
    }

}

#places {
    color-scheme: light !important;

    #placesToolbox {
        #placesToolbar {
            padding: 16px 10px !important;
            padding-bottom: 17px !important;
            justify-content: end;
            background-color: var(--background) !important;
            border-bottom: 1px solid var(--border) !important;
            position: relative !important;

            @media (-moz-windows-classic) {
                border-bottom: 1px solid -moz-Dialog !important;
            }

            &::before {
                content: attr(data-before);
                position: absolute;
                left: 15px;
                color: var(--josh);
                font-size: 12pt;

                @media (-moz-windows-classic) {
                    font-size: 8pt;
                    font-weight: bold;
                }
            }

            > *:not(#clearDownloadsButton, #closeButton, search-textbox) {
                display: none !important;
            }

            #clearDownloadsButton,
            #closeButton {
                position: fixed;
                bottom: 7px;
                width: 86px !important;
                appearance: button !important;
                -moz-default-appearance: button !important;
                color-scheme: light !important;

                &[disabled] {
                    opacity: 1 !important;
                }
            }

            #clearDownloadsButton {
                right: 107px !important;
            }
            
            #closeButton {
                right: 11px !important;
            }

            search-textbox {
                appearance: textfield !important;
                max-width: 252px !important;
                min-height: 22px !important;
                height: 22px !important;
                position: relative !important;

                &[focused] {
                    box-shadow: none !important;
                    background-color: inherit !important;
                    border-color: transparent;
                    outline: none !important;
                }
            }
        }
    }

    #placesView {
        #placesList {
            min-width: 0 !important;
            width: 0 !important;
            max-width: 0 !important;
        }
    }

    #contentView {
        background-color: var(--background2) !important;

        @media (-moz-windows-classic) {
            background: -moz-Dialog !important;
        }

        #placesViewsBox {
            border-bottom: 1px solid var(--border2) !important;
            margin-bottom: 39px !important;

            richlistbox {
                border: 0 !important;

                &#downloadsListBox {
                    padding: 25px 9px !important;

                    &:where(:focus) {
                        > richlistitem {
                            &[selected="true"] {
                                @media (-moz-windows-classic) {
                                    background-color: transparent !important;
                                    color: revert !important;
                                    outline: none !important;
                                    border: 1px -moz-Dialog solid !important;

                                    &:not(:first-of-type) {
                                        border-top: none !important;
                                    }
                                }
                            }
                        }
                    }

                    > richlistitem {
                        min-height: 77px !important;
                        align-items: center !important;
                        
                        &:not([selected="true"]) {
                            border-bottom: 1px var(--border3) solid !important;
                        }

                        &[selected="true"] {
                            @media (-moz-windows-classic) {
                                background-color: transparent !important;
                            }
                        }

                        .downloadMainArea {
                            padding: 14px 29px !important;
                            width: calc(100% - 200px);

                            .downloadTypeIcon {
                                display: none !important;
                            }

                            .downloadContainer {
                                .downloadTarget {
                                    font-size: 12pt !important;
                                    width: 50% !important;
                                }
                            }
                        }

                        .downloadButton {
                            height: 25px !important;
                            min-width: 85px !important;
                            margin-right: 33px !important;
                            }

                            &::before {
                                content: attr(tooltiptext);
                            }

                            @media not (-moz-windows-classic) {
                                padding: 0 !important;
                            color: var(--button-color) !important;
                            border: 1px solid var(--button-border) !important;
                            outline: 1px solid var(--button-outline) !important;
                            background: var(--button-background) !important;
                                justify-content: center !important;
                                border-radius: 5px !important;

                                &:hover {
                                      background: var(--button-background-hover) !important;
                                }

                                &:active, &[open="true"] {
                                background: var(--button-background-active) !important;

                                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                                    outline: none !important;
                                    border-radius: 0 !important;
                                    &:hover {
                                    border: 1px solid var(--button-border-hover) !important;
                                    }

                                    &:active, &[open="true"] {
                                    border: 1px solid var(--button-border-active) !important;
                                    }
                                }
                            }

                            @media (-moz-windows-classic) {
                                appearance: button !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.textbox-search-icons {
    display: grid !important;
    height: 18px !important;
    width: 18px !important;

    .textbox-search-icon {
        list-style-image: url(chrome://userchrome/content/images/search7.svg) !important;
        height: 16px !important;
        width: 16px !important;
    }

    .textbox-search-clear {
        list-style-image: url(images/clear.svg) !important;
        height: 18px !important;
        width: 18px !important;
        margin-top: -1px !important;

        &:hover {
            list-style-image: url(images/clear-hover.svg) !important;
        }
    }
}