/** 
 *	BeautyFox user variables 
 *
 *	Comment the variable that you don't want to change
 *  Uncomment the variable that you want to change
 */

:root {
	/** 
	 *	OS titlebar height 
	 *
	 * 	Default:
	 *  	Windows:
	 *  	- Windows Vista: 19px
	 *  	- Windows 7: 21px
	 *  	- Windows 8 - 11: 22px
	 */
	--titlebar-height: 19px;

	/** 
	 *	Winver OS Logo 
	 *	
	 *	Width: 458px
	 *	Height: 72px
	 *
	 * 	Default:
	 *  	Windows:
	 *		Path: C:\Windows\Branding\Basebrd\basebrd.dll\Bitmap\123
	 *  	- Windows 10: url(images/winverLogo10.png)
	 */
	--winver-logo-image: url(images/winverLogo10.png);

	/** 
	 *	Winver OS Company
	 *
	 * 	Examples:
	 *  	Microsoft
	 */
	 --winver-os-company: Microsoft;

	/** 
	 *	Winver OS Name
	 *
	 * 	Examples:
	 *  	Windows
	 */
	--winver-os-name: Windows;

	/** 
	 *	Winver OS Build Version
	 *
	 * 	Examples:
	 *		Windows:
	 *  	- 1809
	 * 		- 1903
	 *		- 1909
	 *		- 20H2
	 */
	 --winver-os-build-version: 1909;

	/** 
	 *	Winver OS Build String
	 *
	 * 	Examples:
	 *		Windows:
	 *  	- 18363.1556
	 */
	 --winver-os-build-string: 18363.1556;

	/** 
	 *	Winver OS Copyright Year
	 */
	 --winver-os-copyright-year: 2019;

	/** 
	 *	Winver OS Version
	 *
	 * 	Examples:
	 *		Windows:
	 *  	- 10
	 * 		- 11
	 */
	 --winver-os-version: 10;

	/** 
	 *	Winver OS Edition
	 *
	 * 	Examples:
	 *  	Windows:
	 *		- Home
	 *  	- Pro
	 *		- Pro for Workstations
	 *		- Pro Education
	 *		- Education
	 *		- Enterprise
	 */
	--winver-os-edition: Pro;

	/** 
	 *	Winver OS Username
	 */
	 --winver-os-username: bruno;
}