@import 'partials/content/__base.scss';

@import 'partials/content/__aboutnewtabhome.scss';
@import 'partials/content/__aboutprivatebrowsing.scss';

@import 'partials/content/__aboutneterror.scss';
@import 'partials/content/__aboutcerterror.scss';

@import 'partials/content/__aboutpreferences.scss';
//@import 'partials/content/aboutaddons';


@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml") {
    #unknownContentTypeWindow {
        min-width: 398px !important;
    }

    #unknownContentType {
        padding-top: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 39px;
        border-bottom: 1px solid rgb(160, 160, 160);
    }

    #container {
        position: relative;
    }

    #contentTypeImage {
        height: 32px;
        width: 32px;
        margin-top: 2px;
    }

    #intro {
        font-weight: bold;
        margin-inline: 0;
        margin-block: 0;
        margin-bottom: 17px;
    }

    #location::after,
    #whichIs,
    #from,
    #source {
        margin: 0;
        margin-bottom: 3px;
        margin-right: 9px;
        width: 65px;
        text-align: right;
    }

    .plain:not(#location) {
        margin-bottom: 3px !important;
    }

    #from {
        text-transform: capitalize;
    }

    #location {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        font-weight: normal;

        &::before {
            width: fit-content;
        }

        &::after {
            content: 'Name:';
        }
    }

    #source {
        font-weight: bold;
    }

    separator,
    .header,
    #basicBox {
        display: none;
    }

    #normalBox {
        margin-top: 16px;
    }

    radio,
    checkbox {
        margin-left: 0;
        padding-left: 0;
    }

    #rememberChoice {
        position: absolute;
        bottom: -63px;
    }

    menulist {
        margin-left: 0;
    }

    .small-indent {
        margin-inline: 0;
    }

    button {
        height: 23px !important;
        min-height: 0 !important;
    }

    #riskWarningContainer {
        display: flex;
        padding: 17px 15px;
        align-items: center;
        border-top: 1px solid white;
    }

    #riskWarningTextContainer {
        width: 370px;
    }

    #riskWarningIcon {
        margin-right: 14px;
    }
}