@charset "UTF-8";
@-moz-document url(about:privatebrowsing), url(about:newtab), url(about:home) {
  body {
    background-image: linear-gradient(180deg, #02a1e2 0%, #FFFFFF 100%);
    background-size: 100% 84px;
    background-repeat: no-repeat;
    background-color: #FEFEFE !important;
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    body {
      background-image: none;
    }
  }
}
@-moz-document url(about:newtab), url(about:home) {
  :root {
    --popular-site-label: "Your most popular sites";
  }
  html[lang*=es] {
    --popular-site-label: "Sus sitios más populares";
  }
  html[lang=pt-BR] {
    --popular-site-label: "Seus sites mais populares";
  }
  html[lang*=pt-PT] {
    --popular-site-label: "Teus sítios mais populares";
  }
  html[lang=ja-JP] {
    --popular-site-label: "よく使うサイト";
  }
  .icon-settings {
    background-image: none !important;
  }
  main {
    width: auto !important;
    margin-top: 63px !important;
  }
  .non-collapsible-section {
    display: none;
  }
  .top-sites-list {
    margin: 0 !important;
    display: grid;
    gap: 24px 24px;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
  }
  .top-sites-list::before {
    content: var(--popular-site-label);
    position: absolute;
    top: -51px;
    left: 0;
    font-size: 15pt;
    color: #2a2a2a;
  }
  .top-site-outer {
    width: 150px !important;
    padding: 0 !important;
    position: relative;
  }
  .top-site-outer:nth-child(11), .top-site-outer:nth-child(12), .top-site-outer:nth-child(13), .top-site-outer:nth-child(14), .top-site-outer:nth-child(15), .top-site-outer:nth-child(16) {
    display: none !important;
  }
  .top-site-outer.placeholder .tile {
    background-color: rgb(247, 247, 247) !important;
  }
  .top-site-outer.placeholder .tile .icon-wrapper {
    display: none !important;
  }
  .top-site-outer .tile {
    width: 150px !important;
    height: 150px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 1px solid rgb(217, 217, 217) !important;
    background-color: white !important;
    margin: 0 !important;
    justify-content: unset !important;
    align-items: unset !important;
  }
  .top-site-outer .tile .icon-wrapper {
    outline: 1px solid rgb(217, 217, 217);
    outline-offset: -1px;
    border-radius: 0 !important;
    width: 32px !important;
    height: 32px !important;
    margin-top: 8px;
    margin-left: 8px;
  }
  .top-site-outer .tile .icon-wrapper.letter-fallback::before {
    font-size: 16pt !important;
    font-weight: normal !important;
    top: -2px !important;
    transform: rotate(0deg) !important;
  }
  .top-site-outer .tile .icon-wrapper .top-site-icon {
    border-radius: 0 !important;
  }
  .top-site-outer .tile .search-topsite {
    display: none !important;
  }
  .top-site-outer .title {
    position: absolute !important;
    top: 41px;
    left: 8px;
    text-align: left !important;
    max-width: 134px !important;
  }
  .top-site-outer .context-menu-button {
    top: 12px !important;
    right: 10px !important;
    width: 16px !important;
    height: 16px !important;
    transition: none !important;
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
    .top-sites-list::after {
      content: "";
      position: absolute;
      top: -103px;
      right: 80px;
      height: 97px;
      width: 209px;
      background-image: url(images/820.png);
      background-size: cover;
      opacity: 0.5;
    }
    .top-site-outer .tile {
      border-radius: 4px !important;
    }
    .top-site-outer .tile .icon-wrapper:not(.letter-fallback) {
      border-radius: 2px !important;
      position: relative !important;
      background: linear-gradient(180deg, white 0%, rgb(242, 242, 242) 100%);
    }
    .top-site-icon {
      z-index: 2;
    }
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    :root {
      --popular-site-label: "Frequent";
    }
    html[lang*=es] {
      --popular-site-label: "Con más frecuencia";
    }
    html[lang*=pt] {
      --popular-site-label: "Com mais frequência";
    }
    html[lang=ja-JP] {
      --popular-site-label: "よくアクセスするサイト";
    }
    body {
      background-color: rgb(232, 238, 245) !important;
    }
    main {
      width: auto !important;
      margin-top: 61px !important;
    }
    .top-sites-list::before {
      content: var(--popular-site-label);
      top: -62px;
      left: 0;
      font-size: 21pt;
      color: rgb(80, 80, 80);
    }
  }
}
@-moz-document url(about:privatebrowsing) {
  #inPrivateImage {
    background-image: url(images/inprivate-9.png);
    width: 400px;
    height: 24px;
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
    body {
      background-image: linear-gradient(180deg, #e8eff9 0%, #fefeff 100%) !important;
      background-size: 100% 409px;
    }
    #inPrivateImage {
      background-image: url(images/inprivate-9PreRelease.png);
      width: 287px;
      height: 39px;
      margin-bottom: 29px;
    }
    .title {
      position: relative !important;
      left: 4px;
      color: #d8e2f4 !important;
      font-size: 445% !important;
      padding: 0 !important;
      padding-bottom: 0.2em !important;
    }
    .tasks {
      color: #549c00 !important;
      font-size: 130% !important;
      margin-bottom: 3px;
      padding-top: 3px !important;
    }
    .tasksection {
      min-width: 500px !important;
    }
    .mainContent, .footer {
      padding-left: 35px !important;
    }
    #contentLine1 {
      padding-top: 15px;
    }
    hr {
      margin-bottom: 1em !important;
    }
  }
}
@-moz-document url-prefix(about:neterror) {
  :root {
    --error-icon: url(images/noConnect.png);
    --in-content-page-color: #575757 !important;
  }
  body {
    background-image: linear-gradient(180deg, #ffffff 0%, #e9eaef 100%) !important;
    background-size: cover !important;
    background-color: rgb(232, 234, 239) !important;
    align-items: unset !important;
    justify-content: unset !important;
  }
  .container {
    margin-top: 20px;
    margin-left: 80px;
    position: relative;
    max-width: 730px !important;
  }
  .title {
    border-bottom: 1px solid #b6bcc6 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 26px !important;
    position: relative;
    background-image: none !important;
  }
  .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -60px;
    height: 48px;
    width: 48px;
    background-image: var(--error-icon);
    background-position: center;
    background-repeat: no-repeat;
  }
  .neterror {
    padding: 0 !important;
  }
  h1.title-text {
    color: #4465a2 !important;
    font-size: 0.7em !important;
    font-weight: normal !important;
    padding-top: 7px !important;
    padding-bottom: 23px !important;
    margin-bottom: 0 !important;
  }
  #errorShortDesc, #errorShortDesc2 {
    display: none;
  }
  span[data-l10n-id=neterror-dns-not-found-hint-header] {
    font-size: 0.9em !important;
    color: black !important;
  }
  span[data-l10n-id=neterror-dns-not-found-hint-header] > strong {
    font-weight: normal !important;
  }
  #errorLongDesc > ul {
    margin-left: 27px !important;
    margin-top: 57px !important;
    font-size: 0.9em !important;
    margin-inline-start: 27px !important;
    margin-right: 8px !important;
    font-weight: normal !important;
  }
  #errorLongDesc > ul > li {
    margin-bottom: 7px !important;
    list-style: none;
  }
  #errorLongDesc > ul > li:before {
    content: "";
    background-color: var(--in-content-page-color);
    vertical-align: middle;
    display: inline-block;
    height: 3.5px;
    width: 3.5px;
    margin-right: 4px;
    border-radius: 50%;
  }
  .button-container {
    margin-left: 8px !important;
    justify-content: start !important;
    margin-top: 0 !important;
    position: absolute;
    top: 108px;
  }
  .button-container > button {
    margin: 0 !important;
    min-height: 22px !important;
    border-radius: 0 !important;
    border: 1px solid rgb(112, 112, 112) !important;
    color: black !important;
    font-size: 9pt !important;
    background: linear-gradient(0deg, rgb(213, 213, 213) 0%, rgb(235, 235, 235) 100%);
    padding: 0 12px !important;
  }
  .button-container > button:hover {
    border: 1px solid rgb(38, 160, 218) !important;
    background: rgb(166, 244, 255) !important;
  }
  .button-container > button:active {
    border: 1px solid rgb(0, 137, 180) !important;
    background: rgb(52, 180, 227) !important;
    padding-top: 2px !important;
    padding-left: 13px !important;
    padding-right: 11px !important;
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    :root {
      --in-content-page-color: black !important;
    }
    body {
      background-image: none !important;
      background-color: white !important;
    }
    .title {
      border-bottom: none !important;
      margin-bottom: 0 !important;
    }
    .title:before {
      content: unset !important;
    }
    h1.title-text {
      color: #2778ec !important;
      font-size: 38pt !important;
      font-weight: 300 !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }
    .container {
      margin-top: 80px;
      margin-left: 120px;
      margin-right: 120px;
      max-width: 700px !important;
    }
    span[data-l10n-id=neterror-dns-not-found-hint-header] {
      display: none;
    }
    #errorLongDesc > ul {
      margin-left: 0 !important;
      margin-top: 25px !important;
      font-size: 12pt !important;
      font-weight: 200 !important;
    }
    #errorLongDesc > ul > li {
      margin-bottom: 7px !important;
    }
    #errorLongDesc > ul > li:before {
      height: 4px;
      width: 4px;
      margin-right: 10px;
    }
    .button-container {
      margin-left: 0 !important;
      position: static;
      margin-top: 31px !important;
    }
    .button-container > button {
      margin: 0 !important;
      min-height: 22px !important;
      border-radius: 0 !important;
      border: 1px solid rgb(112, 112, 112) !important;
      color: black !important;
      font-size: 9pt !important;
      background: linear-gradient(0deg, rgb(213, 213, 213) 0%, rgb(235, 235, 235) 100%);
      padding: 0 12px !important;
    }
    .button-container > button:hover {
      border: 1px solid rgb(38, 160, 218) !important;
      background: rgb(166, 244, 255) !important;
    }
    .button-container > button:active {
      border: 1px solid rgb(0, 137, 180) !important;
      background: rgb(52, 180, 227) !important;
      padding-top: 2px !important;
      padding-left: 13px !important;
      padding-right: 11px !important;
    }
    @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
      h1.title-text {
        color: #54b0f7 !important;
        font-size: 36px !important;
      }
      #errorLongDesc > ul {
        margin-left: 25px !important;
      }
    }
  }
}
@-moz-document url-prefix(about:certerror) {
  :root {
    --error-icon: url(images/redShield_48.png);
    --in-content-page-color: #575757 !important;
  }
  body {
    position: relative;
    background-image: linear-gradient(180deg, #ffffff 0%, #e9eaef 100%) !important;
    background-size: cover !important;
    background-color: rgb(232, 234, 239) !important;
    align-items: unset !important;
    justify-content: unset !important;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    background-image: linear-gradient(180deg, #fdedee 0%, #ffffff 96.6%, #ffffff 100%);
  }
  .container {
    margin-top: 20px;
    margin-left: 80px;
    position: relative;
    max-width: 730px !important;
  }
  .title {
    border-bottom: 1px solid #b6bcc6 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 26px !important;
    position: relative;
    background-image: none !important;
  }
  .title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -60px;
    height: 48px;
    width: 48px;
    background-image: var(--error-icon);
    background-position: center;
    background-repeat: no-repeat;
  }
  h1.title-text {
    color: #4465a2 !important;
    font-size: 0.7em !important;
    font-weight: normal !important;
    padding-top: 7px !important;
    padding-bottom: 23px !important;
    margin-bottom: 0 !important;
  }
  a {
    min-height: 19px !important;
    border: none !important;
    color: rgb(19, 112, 171) !important;
    font-size: 0.9em !important;
    background: transparent !important;
    padding: 0 !important;
    text-align: left !important;
    margin-bottom: 13px !important;
    font-weight: normal !important;
    text-decoration: none !important;
  }
  a:hover {
    border: none !important;
    background: transparent !important;
    color: rgb(7, 74, 229) !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
  a#viewCertificate {
    margin: 0 !important;
  }
  .button-container {
    position: static;
    margin-left: 0 !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: -moz-fit-content;
    width: fit-content;
  }
  .button-container > button {
    min-height: 19px !important;
    border: none !important;
    color: rgb(19, 112, 171) !important;
    font-size: 0.9em !important;
    background: transparent !important;
    padding: 0 !important;
    text-align: left !important;
    margin-bottom: 29px !important;
    font-weight: normal !important;
    padding-left: 21px !important;
    position: relative !important;
  }
  .button-container > button:hover {
    border: none !important;
    background: transparent !important;
    color: rgb(7, 74, 229) !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
  .button-container > button:active {
    border: none !important;
    background: transparent !important;
    padding: 0 !important;
    padding-left: 21px !important;
  }
  .button-container > button::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 14px;
    top: 2px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
  }
  .button-container > button#returnButton::before {
    background-image: url(images/greenShield.png);
  }
  .button-container > button#exceptionDialogButton {
    margin-top: 0 !important;
  }
  .button-container > button#exceptionDialogButton::before {
    background-image: url(images/redShield.png);
  }
  .button-container > button#advancedButton {
    font-size: 1em !important;
    padding-left: 29px !important;
  }
  .button-container#advancedPanelButtonContainer {
    padding: 0 !important;
    background-color: transparent !important;
    margin-top: 29px !important;
  }
  .button-container#advancedPanelButtonContainer #advancedPanelReturnButton {
    display: none !important;
  }
  .advanced-panel {
    margin: 0 !important;
    margin-left: 32px !important;
    background-color: transparent !important;
    border: none !important;
    display: block !important;
    position: relative !important;
    font-size: 0.9em !important;
  }
  .advanced-panel[hidden=""]:first-child::before {
    background-image: url(images/down.png);
  }
  .advanced-panel[hidden=""] * {
    display: none !important;
  }
  .advanced-panel:first-child::before {
    content: "";
    position: absolute;
    top: -47px;
    left: -28px;
    height: 15px;
    width: 15px;
    background-image: url(images/up.png);
  }
  .advanced-panel > p {
    margin: 0 !important;
    white-space: unset !important;
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
    body {
      background-image: none !important;
      background-color: white !important;
    }
    body::before {
      content: unset !important;
    }
    .container {
      margin-top: 80px;
      margin-left: 120px;
      margin-right: 120px;
      max-width: 700px !important;
    }
    .title {
      border-bottom: none !important;
      margin-bottom: 25px !important;
    }
    .title::before {
      content: unset !important;
    }
    h1.title-text {
      color: #a90000 !important;
      font-size: 36px !important;
      font-weight: 300 !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }
    #errorShortDesc {
      margin-top: 0 !important;
    }
    #errorLongDesc > ul {
      margin-left: 25px !important;
    }
  }
}