window {
    background: transparent !important;
    appearance: auto !important;
    -moz-default-appearance: -moz-win-borderless-glass !important;

    .page {
        display: none;
        flex: 1;
        flex-direction: column;
    }

    h1 {
        font-size: 12pt !important;
        color: rgb(0, 51, 153);
        margin-bottom: 17px;
    }

    > div {
        > hbox:first-child {
            align-items: center;
            -moz-window-dragging: drag !important;
        }
    }

    hbox {
        menulist {
            margin-left: auto;
        }
    }

    button {
        &.navBackButton {
            appearance: none;
            height: 30px;
            width: 30px;
            background-size: 30px;
            background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/Navigation/BackButton/Normal.ico");
            background-position: center;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            min-width: 0;
            min-height: 0;
            background-color: transparent;
            border: 0;
            margin-right: 8px;

            &[disabled="true"] {
                pointer-events: none;
                background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/Navigation/BackButton/Disabled.ico");
            }

            &:not([disabled]) {
                &:hover {
                    background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/Navigation/BackButton/Hot.ico");
                }

                &:active {
                    background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/Navigation/BackButton/Pressed.ico");
                }
            }
        }
    }

    groupbox {
        appearance: groupbox;
        position: relative;
        margin: 8px 0;
        padding-top: 6px;

        > label:first-child {
            position: absolute;
            top: -11px;
            background: white;
            padding: 0 3px;
        }
    }

    #contentArea {
        flex: 1;
        background: white;
        outline: 1px solid var(--browser-outer-border-color);
        border: 1px solid var(--browser-inner-border-color);
        margin: 1px;
        border-radius: 1px;
    }

    commandlinkbutton {
        width: 100%;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        padding: 9px 6px;
        color: rgb(21, 28, 85);
        appearance: auto;
        -moz-default-appearance: toolbarbutton;
        
        &:hover {
            .commandlinkbutton-glyph {
                background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/CommandLinkGlyph/Hot.ico");
            }
        }

        &:active {
            .commandlinkbutton-glyph {
                background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/CommandLinkGlyph/Normal.ico");
            }
        }

        .commandLinkButtonThumbnail {
            max-width: 165px;
            max-height: 165px;
            margin-bottom: 5px;
            box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
        }

        .commandlinkbutton-glyph {
            min-width: 20px;
            min-height: 20px;
            width: 20px;
            height: 20px;
            background-image: url("chrome://userchrome/content/resources/aero.msstyles/Buttons, Boxes & Controls/Buttons/CommandLinkGlyph/Normal.ico");
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 7px;
        }

        .title {
            text-align: left;
            font-size: 12pt !important;
        }
    }

    .pageContent {
        padding: 24px 38px;
        padding-bottom: 24px;
        padding-bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 78px);

        > hbox:first-child {
            margin-top: 16px;
        }
    }

    .dialogFooter {
        justify-content: end;
        align-items: center;
        height: 41px;
        border-top: 1px solid rgb(223, 223, 223);
        background-color: rgb(240, 240, 240);
        padding: 0 6px;
        margin-top: auto;

        button {
            min-width: 64px;
            width: 0;
            height: 23px;
            justify-content: center;
            align-items: center;

            > hbox {
                display: none;
            }
        }
    }
}