@-moz-document url("chrome://browser/content/aboutDialog.xhtml") {
	:root {
		--logo-image: url(images/IELOGO-9.PNG);
		--font-size: 8pt;
		--font-family: Tahoma;
	}

	#aboutDialog {
		font-family: var(--font-family) !important;
	}
	
	#aboutDialogContainer {
		background-color: white !important;
		color-scheme: unset !important;
	}

	#aboutDialogPane {
		width: 326px;
		height: 254px;
		padding: 21px;
		padding-top: 13px;
		padding-bottom: 29px;
		position: relative;
	}

	#aboutDialogLogo {
		background-image: var(--logo-image);
		background-size: cover;
		width: 314px;
		height: 76px;
		margin-bottom: 23px;
	}

	p.aboutDialogInfo {
		color: rgb(97, 97, 97) !important;
		font-size: var(--font-size) !important;
		line-height: 13px !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 0 !important;

		&#aboutDialogWarning {
			margin-top: 13px !important;
			margin-bottom: 12px !important;
		}
	}

	a {
		font-size: var(--font-size) !important;
		color: rgb(0, 102, 204) !important;

		&:visited {
			color: rgb(128, 0, 128) !important;
		}
	}

	#aboutDialogOKButton {
		position: fixed;
		width: 67px;
		height: 20px;
		right: 22px;
		bottom: 23px;
	}

	@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
		:root {
			--logo-image: url(images/IELOGO-9PreRelease.PNG);
		}
	}

	@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
		:root {
			--logo-image: url(images/IELOGO-10.PNG);
		}

		#aboutDialogPane {
			width: 317px;
			height: 216px;
		}

		#aboutDialogInfoCipherStrength, #aboutDialogWarning {
			display: none;
		}

		#aboutDialogInfoProductID {
			margin-bottom: 18px !important;
		}

		a {
			font-size: var(--font-size) !important;
			color: rgb(0, 102, 204) !important;
			text-decoration: none !important;
	
			&:visited {
				color: rgb(128, 0, 128) !important;
			}

			&:hover {
				text-decoration: underline !important;
			}
		}

		#aboutDialogOKButton {
			width: 68px;
			height: 24px;
			right: 36px;
			bottom: 16px;
		}

		@supports -moz-bool-pref("BeautyFox.appearance.IE11") {
			:root {
				--logo-image: url(images/IELOGO-11.PNG);
				--font-size: 9pt;
				--font-family: Segoe UI;
			}

			#aboutDialogPane {
				width: 295px;
				height: 184px;
				padding: 31px;
				padding-left: 32px;
				padding-right: 32px;
				padding-top: 20px;
				padding-bottom: 54px;
			}

			#aboutDialogLogo {
				margin-bottom: 10px;
				margin-left: -2px;
			}

			p.aboutDialogInfo {
				margin-bottom: 2px !important;
			}

			@supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
				:root {
					--logo-image: var(--winver-logo-image);
					--font-size: 8pt;
					--font-family: Tahoma;
				}

				#aboutDialogPane {
					width: 360px;
					height: 337px;
					padding-left: 53px;
					padding-right: 45px;
					padding-top: 0;
				}

				#aboutDialogContainer {
					background-color: rgb(240, 240, 240) !important;
				}

				#aboutDialogInfoPane {
					position: relative;

					&::before {
						content: '';
						position: absolute;
						top: 17px;
						left: -42px;
						height: 32px;
						width: 32px;
						background-image: url(images/iexplore_32.png);
						background-position: center;
						background-repeat: no-repeat;
					}
				}

				.winverSeparator {
					margin-top: 11px;
					margin-bottom: 15px;
					border-top: 1px solid rgb(160, 160, 160);
					border-bottom: 1px solid white;
					border-right: 1px solid white;
					margin-left: -38px;
					margin-right: -28px;
				}

				#aboutDialogLogo {
					background-image: var(--logo-image);
					background-size: cover;
					width: 458px;
					height: 72px;
					margin-left: -53px;
					margin-right: -45px;
					margin-bottom: 0;
				}

				p.aboutDialogInfo {
					color: black !important;
					margin-bottom: 3px !important;
				}

				#aboutDialogMicrosoft {
					margin-bottom: 20px !important;
				}

				#winverCopyright {
					margin-bottom: 57px !important;
				}

				a {
					text-decoration: underline !important;
				}

				#winverUser {
					margin-top: 4px !important;
					margin-left: 15px !important;
				}

				#aboutDialogOKButton {
					width: 73px;
					height: 21px;
					right: 9px;
					bottom: 11px;
					font-size: 8pt !important;
					padding: 0 !important;
				}
			}
		}
	}
}