:root {
    --panel-border-color: #b4b4b4 !important;
}

.urlbarView {
    transform: translateY(-1px);
    margin-inline: 0 !important;
    box-shadow: var(--pop-up_shadow) !important;
    background-color: white;
    padding: 0 !important;
    width: calc(100% - 2 * (5px + var(--urlbar-container-padding)) - 23px) !important;
    min-width: 400px !important;
    border: 1px solid var(--panel-border-color) !important;
}

.urlbarView-action {
    display: none !important;
}

.urlbarView-row, .autocomplete-richlistitem {
    border: none !important;
    min-height: 20px !important;
    border-radius: 0 !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    padding: 0 25px !important;

    &:hover {
        background-color: rgb(240, 240, 240) !important;
    }
}

.urlbarView-row-inner {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-inline: 0 !important;
    padding-block: 0 !important;
}

.urlbarView-favicon {
    display: none !important;
}

.urlbarView-type-icon {
    display: none !important;
}

.urlbarView-title-separator {
    display: none !important;
}

.urlbarView-url {
    color: #6d6d6d !important;
}

.search-one-offs {
    padding-block: 0 !important;
    padding-left: 12px !important;
    padding-right: 6px !important;
    border-top: 1px solid #d6d6d6 !important;
    background: rgb(252,252,252);
    background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 76%, rgba(232,232,232,1) 100%);
    position: relative;
    min-height: 22px !important;
}

.search-panel-header {
    display: none !important;
}

#urlbar-engine-one-off-item-bookmarks {
    display: none !important;
}

#urlbar-engine-one-off-item-tabs {
    display: none !important;
}

#urlbar-engine-one-off-item-history {
    display: none !important;
}

.searchbar-separator {
    display: none !important;
}

.ac-type-icon {
    display: none !important;
}

.searchbar-engine-one-off-item:not(.searchbar-engine-one-off-add-engine) {
    height: 22px !important;
    min-width: 22px !important;
    margin-top: 4px !important;
    margin-bottom: 3px !important;

    &:hover {
        background-color: rgb(172,220,247) !important;
        border: 1px solid rgb(60,127,177) !important;
    }

    &:active {
        background-color: rgb(179,204,232) !important;
        border: 1px solid rgb(60,127,177) !important;
    }
}

#urlbar-engine-one-off-item-engine-0 {
    background-color: rgb(215,243,255) !important;
    border: 1px solid rgb(39,159,211) !important;
    border-radius: 3px !important;

    &:hover {
        background-color: rgb(172,220,247) !important;
        border: 1px solid rgb(60,127,177) !important;
    }

    &:active {
        background-color: rgb(179,204,232) !important;
        border: 1px solid rgb(60,127,177) !important;
    }
}

.searchbar-engine-one-off-add-engine {
    position: absolute;
    right: 0;
    align-items: center;
    margin-inline: 0 6px !important;
    border: 1px solid transparent;
    padding: 4px !important;

    &::after {
        content: 'Add';
    }

    &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: -7px;
        width: 1px;
        height: calc(100% - 7px);
        border-left: 1px solid #6d6d6d;
    }

    .box-inherit {
        display: none !important;
    }
}

#urlbar-anon-search-settings {
    display: none !important;
}

#searchbar-anon-search-settings {
    display: none !important;
}