:root {
  --font-size: 8pt;
  --font-family: Tahoma, Geneva, Verdana, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hyperlink: rgb(102, 204, 255) !important;
    --background: #212121 !important;
    --text-color1: rgb(192, 192, 192) !important;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --hyperlink: rgb(0, 51, 153) !important;
    --background: #FFFFFF !important;
    --text-color1: rgb(97, 97, 97) !important;
  }
}
label {
  margin: 0;
}

#aboutIE {
  font-family: var(--font-family) !important;
}

#aboutIEContainer {
  background-color: var(--background);
  color-scheme: unset !important;
}

#aboutIEPane {
  width: 368px;
  height: 296px;
  padding: 21px;
  padding-top: 13px;
  padding-bottom: 29px;
  position: relative;
}

#aboutIEInfoPane > vbox {
  display: flex;
  flex-direction: row;
}
#aboutIEInfoPane > vbox:not(#aboutIEWarning) {
  white-space: nowrap;
}

#aboutIELogo {
  background-image: url("chrome://userchrome/content/resources/ieframe.dll.mui/2110/IELOGO.png");
  background-position-x: 0;
  background-position-y: -76px;
  min-width: 314px;
  min-height: 76px;
  width: 314px;
  height: 76px;
  margin-bottom: 23px;
}

.aboutDialogInfo:not(a, [is=text-link]) {
  color: var(--text-color1);
}

.aboutDialogInfo {
  font-size: var(--font-size);
  line-height: 13px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.aboutDialogInfo#aboutIEWarning {
  margin-top: 13px;
  margin-bottom: 12px;
}

#aboutVersionBit {
  display: none;
}

#aboutIEOKButton {
  position: fixed;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  min-height: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 20px;
  right: 22px;
  bottom: 23px;
  font-size: var(--font-size);
  color-scheme: light !important;
}

@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
  #aboutIELogo {
    background-position-y: 0;
  }
}
@supports not -moz-bool-pref("BeautyFox.appearance.IE10") {
  @supports -moz-bool-pref("BeautyFox.appearance.IE10DeveloperPreview") {
    #aboutIELogo {
      background-position-y: -152px;
    }
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE10ConsumerPreview") {
    .text-link, a {
      text-decoration: none !important;
    }
    #aboutIEPane {
      width: 359px;
      height: 258px;
      padding-top: 20px;
      padding-left: 30px;
    }
    #aboutIELogo {
      margin-bottom: 10px;
      background-position-y: -228px;
    }
    .aboutDialogInfo {
      margin-bottom: 2px;
    }
    #aboutIEInfoCipherStrength, #aboutIEWarning {
      display: none !important;
    }
    #aboutIEInfoProductID {
      margin-bottom: 43px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    #aboutIEOKButton {
      width: 68px;
      height: 24px;
      right: 36px;
      bottom: 16px;
    }
    @supports -moz-bool-pref("BeautyFox.appearance.IE10ReleasePreview") {
      #aboutIELogo {
        background-position-y: -304px;
      }
    }
  }
}
@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
  .text-link, a {
    text-decoration: none !important;
  }
  #aboutIEPane {
    width: 359px;
    height: 258px;
    padding-top: 20px;
    padding-left: 30px;
  }
  #aboutIELogo {
    margin-bottom: 10px;
    background-position-y: -380px;
  }
  .aboutDialogInfo {
    margin-bottom: 2px;
  }
  #aboutIEInfoCipherStrength, #aboutIEWarning {
    display: none !important;
  }
  #aboutIEInfoProductID {
    margin-bottom: 43px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #aboutIEOKButton {
    width: 68px;
    height: 24px;
    right: 36px;
    bottom: 16px;
  }
  @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
    #aboutIELogo {
      margin-bottom: 10px;
      background-position-y: -456px;
    }
  }
}/*# sourceMappingURL=aboutIE.css.map */