:root {
	--background: white;

	--font-size: 8pt;
	--font-family: Tahoma, Geneva, Verdana, sans-serif;
	--font-colour: rgb(97, 97, 97);
}

label {
	margin: 0;
}

#aboutIE {
	font-family: var(--font-family) !important;
}

#aboutIEContainer {
	background-color: var(--background);
	color-scheme: unset !important;
}

#aboutIEPane {
	width: 368px;
	height: 296px;
	padding: 21px;
	padding-top: 13px;
	padding-bottom: 29px;
	position: relative;
}

#aboutIEInfoPane {
	> vbox {
		display: flex;
		flex-direction: row;
	}

	> vbox:not(#aboutIEWarning) {
		white-space: nowrap;
	}
}

#aboutIELogo {
	background-image: url("chrome://userchrome/content/resources/ieframe.dll.mui/2110/IELOGO.png");
	background-position-x: 0;
	background-position-y: -76px;
	min-width: 314px;
	min-height: 76px;
	width: 314px;
	height: 76px;
	margin-bottom: 23px;
}

.aboutDialogInfo:not(a, [is="text-link"]) {
	color: var(--font-colour);
}

.aboutDialogInfo {
	font-size: var(--font-size);
	line-height: 13px;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;

	&#aboutIEWarning {
		margin-top: 13px;
		margin-bottom: 12px;
	}
}

#aboutVersionBit {
	display: none;
}

#aboutIEOKButton {
	position: fixed;
	appearance: button;
	min-height: 0 !important;
	min-width: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	justify-content: center;
	align-items: center;
	width: 67px;
	height: 20px;
	right: 22px;
	bottom: 23px;
	font-size: var(--font-size);
}

@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
	#aboutIELogo {
		background-position-y: 0;
	}
}

@supports not -moz-bool-pref("BeautyFox.appearance.IE10") {
	@supports -moz-bool-pref("BeautyFox.appearance.IE10DeveloperPreview") {
		#aboutIELogo {
			background-position-y: -152px;
		}
	}

	@supports -moz-bool-pref("BeautyFox.appearance.IE10ConsumerPreview") {
		.text-link, a {
			text-decoration: none !important;
		}
	
		#aboutIEPane {
			width: 359px;
			height: 258px;
			padding-top: 20px;
			padding-left: 30px;
		}
	
		#aboutIELogo {
			margin-bottom: 10px;
			background-position-y: -228px;
		}
	
		.aboutDialogInfo {
			margin-bottom: 2px;
		}
	
		#aboutIEInfoCipherStrength, #aboutIEWarning {
			display: none !important;
		}
	
		#aboutIEInfoProductID {
			margin-bottom: 43px;
		}
	
		a {
			text-decoration: none;
	
			&:hover {
				text-decoration: underline;
			}
		}
	
		#aboutIEOKButton {
			width: 68px;
			height: 24px;
			right: 36px;
			bottom: 16px;
		}

		@supports -moz-bool-pref("BeautyFox.appearance.IE10ReleasePreview") {
			#aboutIELogo {
				background-position-y: -304px;
			}
		}
	}
}

@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
	.text-link, a {
		text-decoration: none !important;
	}

	#aboutIEPane {
		width: 359px;
		height: 258px;
		padding-top: 20px;
		padding-left: 30px;
	}

	#aboutIELogo {
		margin-bottom: 10px;
		background-position-y: -380px;
	}

	.aboutDialogInfo {
		margin-bottom: 2px;
	}

	#aboutIEInfoCipherStrength, #aboutIEWarning {
		display: none !important;
	}

	#aboutIEInfoProductID {
		margin-bottom: 43px;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	#aboutIEOKButton {
		width: 68px;
		height: 24px;
		right: 36px;
		bottom: 16px;
	}

	@supports -moz-bool-pref("BeautyFox.appearance.IE11") {		
		#aboutIELogo {
			margin-bottom: 10px;
			background-position-y: -456px;
		}	
	}
}

#aboutVersion,
#aboutUpdateVersions,
#aboutUpdateKB,
#aboutProductID {
	margin-left: 3px;
}

#aboutUpdateKB {
	&::before {
		content: '(';
	}

	&::after {
		content: ')';
	}

	&::before,
	&::after {
		text-decoration: none !important;
	
		@supports (-moz-bool-pref("BeautyFox.appearance.IE10ConsumerPreview") or
				   -moz-bool-pref("BeautyFox.appearance.IE10DeveloperPreview") or
				   -moz-bool-pref("BeautyFox.appearance.IE10ReleasePreview") or
				   -moz-bool-pref("BeautyFox.appearance.IE10") or
				   -moz-bool-pref("BeautyFox.appearance.IE11")) {
			color: var(--font-colour) !important;
		}
	}
}

#aboutVersionBit {
	margin-left: 9px;
}

#aboutIEInfoCipherStrength {
	> label {
		margin-right: 3px;
	}
}