#appMenu-notification-popup {
    width: 100% !important;
    background: transparent !important;
    //pointer-events: none !important;
    margin: 0 !important;
    margin-top: calc(100vh + -79px - var(--titlebar-height-calc)) !important;
    margin-right: -7.5px !important;
}

slot[part="content"] {
    height: 100% !important;
    width: 100% !important;
    max-height: calc(100% - 4px) !important;
    max-width: 100% !important;
    justify-content: end !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    align-items: center !important;
}

popupnotification {
    background: white !important;
    min-width: 960px !important;
    min-height: 50px !important;
    max-width: 960px !important;
    max-height: 50px !important;
    border: 1px solid black !important;
    position: relative !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: 0 17px !important;
    padding-top: 3px !important;

    &::before {
        content: '';
        width: calc(100% - 2px);
        position: absolute;
        left: 1px;
        top: 1px;
        height: 6px;
        background-color: rgb(242, 177, 0);
    }

    &:not([hidden="true"]) {
        display: flex !important;
    }

    .popup-notification-body-container {
        width: 100% !important;
        padding: 0 !important;
        margin-top: 2px !important;

        .popup-notification-icon {
            display: none !important;
        }

        .popup-notification-body {
            > hbox:first-child {
                display: none !important;
            }

            popupnotificationcontent {
                margin-top: 0 !important;
            }

            .popup-notification-bottom-content {
                display: none !important;
            }
        }
    }

    .panel-footer {
        margin: 0 !important;

        button {
            font-weight: normal !important;
            color: black !important;
        }
    }
}