:root {
    --toolbar-bgcolor: #e6effa !important;
}

@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    :root {
        --toolbar-bgcolor: #f7f7f7 !important;
    }
}

#suggestedsites_bruni_com-BAP {
    list-style-image: url('images/iexplore_16.png') !important;
    padding: 3px !important;

    &::after {
        content: url(images/dropdown.png);
        margin-bottom: 6px;
        margin-left: 3px;
        margin-right: 3px;
    }

    &[open="true"] {
        &::after,
        * {
            transform: translateX(1px) translateY(1px);
        }
    }

    .toolbarbutton-badge-stack {
        padding: 0 !important;
        margin-inline-end: 4px;
    }

    .toolbarbutton-text {
        padding: 0 !important;
    }
}

#PersonalToolbar {
    toolbaritem:first-of-type {
        margin-right: 0 !important;
    }
    
    toolbarbutton {
        appearance: auto !important;
    }

    #suggestedsites_bruni_com-BAP {
        align-items: center !important;

        .toolbarbutton-text {
            display: block !important;
            padding-top: 0 !important;
            min-height: 0 !important;
        }
    }
}

#statusbarContainer {
    position: relative;
    display: flex;
    justify-content: end; 
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--browser-outer-border-color);
    border-left: 1px solid var(--browser-outer-border-color);
    border-right: 1px solid var(--browser-outer-border-color);
    border-radius: 0px 0px 3px 3px;
    max-height: 0px;
    opacity: 0;
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: calc(100% - 2px);
        height: 100%;
        border-bottom: 1px solid var(--browser-inner-border-color) !important;
        border-left: 1px solid var(--browser-inner-border-color) !important;
        border-right: 1px solid var(--browser-inner-border-color) !important;
        z-index: -1;
    }

    #statusbarBackground {
        position: absolute;
        left: 1px;
        top: 0;
        width: calc(100% - 4px);
        height: calc(100% - 3px);
        background-color: #f1edec;
        border: 1px solid rgba(255, 255, 255, .5);
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            pointer-events: none;
            border-top: 1px solid #aaabab;
        }
    }

    > *:not(:first-child) {
        border-left: 1px solid #d7d7d7;
    }

    > div {
        height: 100%;
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
        height: fit-content;
    }

    #statusbarTextContainer {
        margin-right: auto;
    }

    #statusbarInternetProtectionModeContainer {
        border-left: 1px solid #d7d7d7;
        padding-left: 4px;
        width: 100%;
        max-width: 270px;
        display: none;

        &::before {
            content: url('images/statusGlobe.png');
            margin-right: 5px;
            margin-bottom: -2px;
        }
    }

    #addonsBar {
        margin-right: 108px !important;
        min-width: 31px !important;
        min-height: 22px !important;
        background-color: transparent !important;
        display: flex !important;
        justify-content: end !important;
        padding-left: 10px !important;
    
        .toolbarbutton-badge-stack {
            padding: 0 !important;
        }
    }

    #statusbarZoomContainer {
        padding-left: 10px;
        margin-right: 22px;
    }

    .toolbarbutton-badge {
        margin: 0 !important;
        margin-inline-end: 0 !important;
        font-family: normal !important;
        padding: 0 !important;
    }
}

#main-window {
    &[sizemode="maximized"], &[sizemode="fullscreen"] { 
        #statusbarContainer {
            padding-top: 1px;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0px;
            
            &::before {
                content: unset;
            }

            #statusbarBackground {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    } 
}


@supports -moz-bool-pref("BeautyFox.option.showStatusBar") {
    #statusbarContainer {
        max-height: unset;
        opacity: 1;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    #statuspanel {
        position: fixed !important;
        padding-top: 0 !important;
        bottom: 4px !important;
        left: 3px !important;
        transition: none !important;
        max-width: calc(100% - 300px) !important;

        > #statuspanel-label {
            background: transparent !important;
            padding: 0 !important;
            margin: 0 !important;
            border: 0 !important;
            color: black !important;
            box-shadow: none !important;
            height: fit-content !important;
            width: fit-content !important;
        }
    }

    #urlbar-zoom-button {
        display: block !important;
        position: fixed !important;
        font-size: 9pt !important;
        right: 46px !important;
        bottom: 2px !important;
        z-index: 1 !important;
        padding: 0 !important;
        padding-left: 26px !important;
        margin: 0 !important;
        background-color: transparent !important;
        pointer-events: none !important;
        overflow: visible !important;
        border-left: 1px solid #d7d7d7 !important;
        border-radius: 0 !important;
        
        &::before {
            content: url("images/statusZoom.png");
            position: absolute !important;
            bottom: 1px;
            left: 11px;
        }

        &[hidden="true"] {
            > .toolbarbutton-text {
                &::before {
                    content: '100%' !important;
                }
            }
        }

        > .toolbarbutton-text {
            margin-top: 3px !important;
            width: 28px !important;
        }
    }

    #nav-bar toolbarbutton#urlbar-zoom-button {
        margin-bottom: 0 !important;
        height: 22px !important;
        width: fit-content !important;
    }

    #browser,
    #customization-container {
        border-bottom: 0 !important;
        border-radius: 0 !important;
        padding-bottom: 0 !important;

        &::before {
            border-radius: 0 !important;
            border-bottom: 0 !important;
        }
    }
}

#cBHomeButton {
    list-style-image: url("chrome://browser/skin/home.svg");
}

#cBReadMailButton {
    list-style-image: url("chrome://browser/skin/mail.svg");
}

#cBPrintButton {
    list-style-image: url("chrome://global/skin/icons/print.svg");
}

#cBHomeButton {
    list-style-image: url("images/cBHome.png");
}

#cBReadMailButton {
    list-style-image: url("images/cBReadMail.png");
}

#cBPrintButton {
    list-style-image: url("images/cBPrint.png");
}

#cBHelpMenuButton {
    .toolbarbutton-icon {
        list-style-image: url("images/cBHelp.png") !important;
    }
}

#cBPageButton {
    &::before {
        content: attr(label);
    }
}

#cBPageMenuButton {
    .toolbarbutton-text {
        display: block;
    }

    > #cBPageMenuPopUp {
        > #cBPage_newWindow {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/newWindow.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBPage_googleTranslate {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/bingTranslator.ico') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBPage_saveAs {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/saveAs.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBPage_sendLinkbyEMail {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/sendLinkbyEMail.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBPage_zoom {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/zoom.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBPage_viewSource {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/viewSource.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    }
}

#cBSafetyMenuButton {
    .toolbarbutton-text {
        display: block;
    }

    > #cBSafetyMenuPopUp {
        > #cBSafety_deleteBrowsingHistory {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/deleteBrowsingHistory.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBSafety_inPrivateBrowsing {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/inPrivateBrowsing.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
        > #cBSafety_smartScreenFilter {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/smartScreenFilter.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    }
}

#cBToolsMenuButton {
    .toolbarbutton-text {
        display: block;
    }

    > #cBToolsMenuPopUp {
        > #cBTools_reopenLastBrowsingSession {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/reopenLastBrowsingSession.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBTools_manageAddOns {
            > .menu-iconic-left {
                position: relative;
    
                &::before {
                    content: '';
                    background-image: url('images/manageAddOns.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
    
                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    
        > #cBTools_workOffline {
            > .menu-iconic-left {
                position: relative;
    
                &::before {
                    content: '';
                    background-image: url('images/workOffline.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
    
                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    
        > #cBTools_fullScreen {
            > .menu-iconic-left {
                position: relative;
    
                &::before {
                    content: '';
                    background-image: url('images/fullScreen.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
    
                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    
        > #cBTools_internetOptions {
            > .menu-iconic-left {
                position: relative;
    
                &::before {
                    content: '';
                    background-image: url('images/internetOptions.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }
    
                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    }
}

#cBHomeButton,
#cBPrintButton,
#cBReadMailButton {
    padding-left: 4px !important;
    padding-right: 4px !important;
    align-items: center !important;

    .toolbarbutton-icon {
        padding: 0 !important;
        height: auto !important;
        width: auto !important;
    }
}

#cBPageMenuButton,
#cBSafetyMenuButton,
#cBToolsMenuButton {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

#cBHomeButton,
#cBPrintButton,
#cBReadMailButton,
#cBPageButton,
#cBPageMenuButton,
#cBSafetyMenuButton,
#cBToolsMenuButton,
#cBHelpMenuButton {
    appearance: auto !important;
    margin-block: 0 !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;

    &[type="menu"] {
        &::after {
            content: url(images/dropdown.png);
            margin-bottom: 6px;
            margin-left: 4px;
        }

        .toolbarbutton-text {
            margin-bottom: 2px !important;
        }
    }
}

#cBHelpMenuButton {
    margin-right: 13px !important;
}