:root {
    --panel-subview-body-padding: 0 !important;
    --arrowpanel-border-radius: 0 !important;
    --arrowpanel-menuitem-padding: 0 !important;
    --arrowpanel-menuitem-margin: 0 !important;
    --arrowpanel-menuitem-border-radius: 0 !important;
}