:root {
    --get-more-add-ons-label: "Get More Add-ons";

    --chrome-content-separator-color: #6f6f6f !important;
    --urlbar-min-height: 24px !important;
    --urlbar-width: 28.83%;
    --urlbar-min-width: 198px;
    --urlbarView-result-button-size: 16px !important;
    --tab-block-margin: 0 !important;
    --toolbarbutton-hover-background: transparent !important;
    --toolbarbutton-active-background: transparent !important;
    --toolbarbutton-disabled-opacity: 1 !important;
    --titlebar-height-calc: calc(var(--titlebar-height) - 2px);

    --urlbar-inprivatebadge-width: 58px;
    &:is([privatebrowsingmode="temporary"]) {
        #urlbar-input-container {
            &::before {
                content: '';
                height: 100%;
                width: var(--urlbar-inprivatebadge-width);
                background: url(images/InPrivateBadge9.svg);
                background-position: center !important;
                background-repeat: no-repeat !important;
            }
        }
    }
    
    --urlbar-box-hover-bgcolor: transparent !important;
    --urlbar-box-active-bgcolor: transparent !important;
    --urlbar-height: 24.00px !important;
    --urlbar-dropdown-button_width: 32px;
    --urlbar-fake-dropdown-mask: url(images/search-dropdown-mask.svg);
    --urlbar-fake-dropdown-mask-position: center;
    --stop-reload-button_width: calc(10px + 6px);

    --focus-outline-color: transparent !important;

    --browser-outer-border-color: rgba(253, 253, 253, .65);
    --browser-inner-border-color: rgba(24, 24, 24, .57);

    --tooltip_background: linear-gradient(0deg, rgb(228, 229, 240) 0%, rgb(255, 255, 255) 100%);
    --tootlip_text-colour: rgb(87, 87, 87);
    --tooltip_border-colour: rgb(118, 118, 118);

    --pop-up_shadow: 2px 2px 2px 0px rgba(0, 0, 0, .5);

    --option_hideUnifiedExtensions: 0;
    --option_tabsOnNavRow: 0;

    --toolbaritems-margin-bottom: 3px;

    --toolbarbutton-blue-colour_hover: rgb(3, 132, 206);

    --toolbarbutton-icon-fill-attention: var(--toolbarbutton-blue-colour_hover) !important;

    --toolbar-field-background-color: rgba(254,254,254,.65) !important;
    --toolbar-field-background-color_hover: rgba(255,255,255,.8);

    --appearance_IE9PreRelease: 0;
    --appearance_IE10: 0;
    --appearance_IE11: 0;
    --appearance_IE11Win10: 0;
}

html {
    &[lang*="es"] {
        --get-more-add-ons-label: "Más complementos";
    }
    &[lang*="pt"] {
        --get-more-add-ons-label: "Mais extensões";
    }
}

*[disabled="true"] {
    opacity: 1 !important;
}

toolbar:not([nowindowdrag="true"], [customizing="true"]) {
    -moz-window-dragging: no-drag !important;
}

#main-window {
    &[sizemode="maximized"] {
        --titlebar-height-calc: calc(var(--titlebar-height) + 6px);
    }

    &:not([sizemode="maximized"]) {
        .titlebar-buttonbox {
            top: 4px !important;
        }
    }

    &[sizemode="maximized"],
    &[sizemode="fullscreen"] {
        #endToolbar {
            padding-right: 3px !important;
        }

        #PersonalToolbar,
        #toolbar-menubar {
            border-left: none !important;
            border-right: none !important;

            &::before {
                width: 100% !important;
                left: 0 !important;
            }

            &::after {
                border-left: none !important;
                border-right: none !important;
            }
        }

        #toolbar-menubar {
            padding: 0px 3px 1px 3px !important;
        }

        #browser,
        #customization-container {
            border-left: none !important;
            border-right: none !important;
            border-bottom: none !important;
            border-radius: 0 !important;
            padding: 0 !important;

            &::before {
                content: unset !important;
            }
        }

        #navigator-toolbox {
            &::after {
                width: 100% !important;
                left: 0 !important;
            }
        }
    }

    &[sizemode="fullscreen"],
    &:not([tabsintitlebar="true"]) {
        --titlebar-height: 2px !important;
    }

    &[sizemode="fullscreen"] {
        background: black !important;
    }
}

#nav-bar-customization-target {
    align-items: end !important;
}

#navigator-toolbox {
    border-bottom: none !important;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: calc(100% - 2px);
        left: 1px;
        bottom: 0;
        height: 1px;
        border-bottom: 1px solid var(--chrome-content-separator-color);
        z-index: 1;
    }
}

#titlebar {
    order: 2;
    flex-direction: column-reverse;
    justify-content: start;
    appearance: none !important;
}

#toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) {
    height: 0 !important;
}

#toolbar-menubar {
    border-top: 1px solid var(--browser-outer-border-color);
    border-left: 1px solid var(--browser-outer-border-color);
    border-right: 1px solid var(--browser-outer-border-color);
    min-height: 2px !important;
    padding: 0px 3px 1px 3px;
    height: 22px !important;
    color: black !important;
    position: relative;
    border-radius: 3px 3px 0 0;
    background-color: var(--toolbar-bgcolor) !important;
    background-clip: padding-box !important;
    border-inline-style: solid !important;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 2px);
        height: calc(100% - 1px);
        border-top: 1px solid var(--browser-inner-border-color) !important;
        border-left: 1px solid var(--browser-inner-border-color) !important;
        border-right: 1px solid var(--browser-inner-border-color) !important;
        pointer-events: none;
        border-radius: 2px 2px 0 0;
        z-index: 1;
    }

    &[inactive="true"] {
        max-height: 2px !important;

        #menubar-items {
            height: 0 !important;
            overflow: hidden;
        }
    }

    &:not(:-moz-lwtheme):-moz-window-inactive {
        color: ThreeDShadow !important;
    }
}

#main-menubar {
    height: 100%;
    background: transparent !important;
    text-shadow: none !important;

    > menu {
        padding: 0 2px;

        &[_moz-menuactive="true"] {
            color: white !important;
        }
    }
}

#menubar-items {
    margin-top: 0 !important;
}


.titlebar-spacer {
    display: none;
}

#nav-bar {
    background-color: transparent !important;
    padding-top: var(--titlebar-height-calc) !important;
    -moz-window-dragging: drag !important;
    flex: 1 !important;
}

toolbarpaletteitem[id*="wrapper-customizableui-special-spring"] {
    height: 28px !important;

    > toolbarspring {
        margin-block: 0 !important;
    }
}

#urlbar-container {
    padding-right: 0px;
    margin-inline-start: 1px !important;
    margin-inline-end: 0px !important;
    z-index: 4 !important;
    --urlbar-container-height: 24px !important;

    &:hover {
        #urlbar-background {
            &::before {
                background-color: var(--toolbar-field-background-color_hover) !important;
            }
        }
    }

    &.toolbar-hover-fix {
        #urlbar-background {
            &::before {
                background-color: var(--toolbar-field-background-color_hover) !important;
            }
        }
    }
}

#stop-reload-button {
    justify-content: end;
    z-index: 3;

    &:hover {
        background-color: var(--toolbar-field-background-color_hover) !important;
    }

    &.toolbar-hover-fix {
        background-color: var(--toolbar-field-background-color_hover) !important;
    } 
    
    > toolbarbutton {
        list-style-image: none !important;
        position: relative;

        &::before {
            content: '';
            mask-position: center !important;
            mask-repeat: no-repeat !important;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.5);
            transition: background-color .3s steps(5);
        }

        &:active {
            &::before {
                transition: none;
            }
        }
    }

    #reload-button {
        &::before {
            mask: url(images/refresh-mask.svg);
        }

        &:hover {
            &::before {
                background-color: rgb(0, 161, 220);
            }
        }

        &:active {
            &::before {
                background-color: rgb(3, 132, 206);
            }
        }

        &.reload-button-display-none {
            opacity: 0 !important;
            pointer-events: none !important;
        }
    }

    #stop-button {
        &::before {
            mask: url(images/stop-mask.svg);
        }

        &:hover {
            &::before {
                background-color: #E73C3C;
            }
        }

        &:active {
            &::before {
                background-color: #E10C0C;
            }
        }
    }

    + toolbarbutton {
        margin-left: 8px !important;
    }
}

#urlbar {
    --urlbar-height: 24.00px !important;
    font-size: 9pt !important;
    top: 0 !important;
    max-height: var(--urlbar-height) !important;

    &[focused=true] {
        #urlbar-background {
            box-shadow: none !important;
        }
    }
}

#urlbar[breakout][breakout-extend] {
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
}

#urlbar-input-container {
    padding: 0 0 0 0 !important;
    border-radius: 0 !important;
    border-right: 0 !important;

    &.urlbar-remove-padding-right {
        overflow: visible !important;
        margin-inline-end: -16px !important;
        width: auto !important;
    }
}

.urlbar-input-box {
    padding: 0 var(--urlbar-dropdown-button_width) 0 0;
    position: relative;
    margin-left: 5px !important;

    &::after {
        content: '';
        transform: translateX(var(--urlbar-dropdown-button_width));
        width: var(--urlbar-dropdown-button_width);
        height: 22px;
        background: linear-gradient(90deg, rgba(0,0,0,.5) 49%, rgba(0,0,0,.5) 50%);
        mask: var(--urlbar-fake-dropdown-mask);
        mask-position: var(--urlbar-fake-dropdown-mask-position);
        mask-repeat: no-repeat;
        margin-right: 2px;
    }
}

#urlbar-input {
    margin-right: -31px !important;
    mask-image: none !important;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#favimginurlbar {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

#PersonalToolbar {
    order: 3;
    height: 30px;
    padding-inline: 2px !important;
    border-left: 1px solid var(--browser-outer-border-color);
    border-right: 1px solid var(--browser-outer-border-color);
    position: relative;
    padding: 0 1px;
    background-color: var(--toolbar-bgcolor) !important;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 2px);
        height: calc(100% - 1px);
        border-left: 1px solid var(--browser-inner-border-color) !important;
        border-right: 1px solid var(--browser-inner-border-color) !important;
        pointer-events: none;
    }
}

#main-window {
    &[sizemode="maximized"],
    &[sizemode="fullscreen"] {
        .notificationbox-stack {
            bottom: 1px !important;
        }
    }
}

.notificationbox-stack {
    order: 4 !important;
    position: fixed !important;
    bottom: 3px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 4 !important;
    max-width: 960px !important;
    width: 100% !important;
    background: white !important;
    overflow: visible !important;

    notification-message {
        outline: 1px solid black !important;
        outline-offset: 1px !important;
        margin: 1px !important;
        border-top: 6px solid rgb(242, 177, 0) !important;
        border-radius: 0 !important;
        opacity: 1 !important;
    }
}

.container {
    &.infobar {
        border-radius: 0 !important;
        box-shadow: none !important;
        background: transparent !important;
        min-height: 40px !important;
        align-items: center !important;
        padding-left: 16px !important;
        padding-right: 6px !important;

        &::before {
            content: unset !important;
        }

        .icon {
            display: none !important;
        }

        .notification-content {
            display: flex !important;
            width: 100% !important;
            margin-inline-start: 0 !important;
            margin-inline-end: 6px !important;
        }

        .notification-message {
            padding: 0 !important;
            margin-inline-end: 0 !important;
        }

        .notification-button-container {
            margin-left: auto !important;
        }

        .notification-button {
            margin: 0;
        }

        .notification-button-container {
            button {
                height: 25px !important;
                padding: 0 19px !important;
                color: black !important;
                border: 1px solid white !important;
                outline: 1px solid rgb(176, 178, 182) !important;
                background: linear-gradient(0deg, rgb(231, 231, 231) 0%, rgb(244, 244, 244) 100%) !important;
                justify-content: center !important;
                border-radius: 5px !important;
                font-size: 9pt !important;

                &::before {
                    content: attr(tooltiptext);
                }

                &:hover {
                    background: linear-gradient(0deg, rgb(185, 214, 252) 0%, rgb(239, 243, 249) 100%) !important;
                }

                &:active,
                &[open=true] {
                    background: linear-gradient(0deg, rgb(145, 192, 253) 0%, rgb(229, 236, 246) 100%) !important;
                }
            }
        }

        .close {
            margin: 0 !important;
            height: 16px !important;
            width: 16px !important;
        }
    }
}

@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    .container {
        &.infobar {
            .notification-button-container {
                button {
                    outline: none !important;
                    border: 1px solid rgb(172, 172, 172) !important;
                    border-radius: 0 !important;
                    background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(240, 240, 240) 100%) !important;

                    &:hover {
                        border: 1px solid rgb(126, 180, 234) !important;
                        background: linear-gradient(0deg, rgb(220, 236, 252) 0%, rgb(236, 244, 252) 100%) !important;
                    }

                    &:active,
                    &[open=true] {
                        border: 1px solid rgb(86, 157, 229) !important;
                        background: linear-gradient(0deg, rgb(196, 224, 252) 0%, rgb(218, 236, 252) 100%) !important;
                    }

                    &[data-l10n-id=popup-warning-button] {
                        &::after {
                            content: "";
                            height: 16px;
                            width: 16px;
                            mask: url(images/dropdown-mask.svg) !important;
                            mask-position: calc(50% - 1px) !important;
                            mask-size: 9px 5px !important;
                            mask-repeat: no-repeat !important;
                            background-color: black !important;
                            margin-left: 4px !important;
                            margin-top: 4px !important;
                        }
                    }
                }
            }
        }
    }
}

#star-button-box {
    display: none !important;
}

#PersonalToolbar {
    padding-right: 1px !important;

    .bookmark-item:not(menuitem),
    #star-button-box {
        margin: 2px 0 3px 0 !important;
        padding: 3px !important;
        max-width: 175px !important;
        border: 1px solid transparent;
        position: relative;
        appearance: auto !important;
    
        &:active, &[open="true"] {
            .toolbarbutton-icon,
            .toolbarbutton-text {
                transform: translate(1px, 1px) !important;
            }
        }
    
        &[image*="page-icon:about"] {
            .toolbarbutton-icon {
                display: none;
            }
    
            .toolbarbutton-text {
                &::before {
                    content: '';
                    height: 16px;
                    width: 16px;
                    background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/190.ico");
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-inline-end: 4px;
                }

                &::after {
                    content: -moz-label-content;
                }
            }
        }
    
        &[type="menu"]:not(#PlacesChevron) {
            padding-right: 0 !important;
    
            .toolbarbutton-icon {
                list-style-image: url("moz-icon:file:///C:/ProgramData/?size=16");
            }
    
            .toolbarbutton-text {
                &::after {
                    content: '';
                    width: 17px;
                    height: 16px;
                    background-color: black;
                    mask-image: url(images/dropdown-mask.svg);
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
            }
        }
    }

    #star-button-box {
        height: calc(100% - 5px) !important;
    }

    #PlacesChevron {
        margin-top: 2px !important;
        width: 15px !important;
        height: calc(100% - 4px) !important;
        list-style-image: none !important;
        position: relative !important;
        padding: 0 !important;
        border: 1px solid transparent !important;

        &:hover {
            border-radius: 2px;
            outline: 1px solid rgba(51, 51, 51, 0.4) !important;
            border: 1px solid rgba(255, 255, 255, 0.4) !important;
            background: linear-gradient(0deg, rgba(51, 51, 51, 0.1) 0%, rgba(51, 51, 51, 0) 100%) !important;
        }

        &:active, &[open="true"] {
            border-radius: 2px 2px 3px 3px !important;
            outline: 1px solid rgba(111, 111, 111, 0.4) !important;
            border: 1px solid rgba(51, 51, 51, 0.45) !important;
            background: linear-gradient(0deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 90%) !important;
            padding: 0 !important;
        }

        > .toolbarbutton-icon {
            position: absolute !important;
            margin-top: 1px !important;
            margin-left: 1px !important;
            padding: 0 !important;
            background-image: url(images/bookmarks-more.svg) !important;
            background-position: top !important;
            background-repeat: no-repeat !important;
            height: 100% !important;
            width: 100% !important;
        }
    }
}

panel {
    --panel-shadow: var(--pop-up_shadow) !important;

    transition: none !important;
}

#statuspanel {
    left: 5px !important;
    bottom: 5px !important;
    
    #statuspanel-label {
        border-radius: 4px;
        background: var(--tooltip_background) !important;
        padding: 0 5px 2px 5px;
        font-size: 9pt;
        text-align: left;
        font-weight: normal;
        color: var(--tootlip_text-colour) !important;
        border: 1px solid var(--tooltip_border-colour) !important;
        -webkit-box-shadow: var(--pop-up_shadow) !important;
        -moz-box-shadow: var(--pop-up_shadow) !important;
        box-shadow: var(--pop-up_shadow) !important;
        will-change: opacity;
        transition: opacity .2s;
    }
}

.identity-box-button {
    padding-inline: 0 !important;
}

#identity-box {
    order: 1;
    flex-direction: row-reverse;
    margin-inline-end: 0 !important;
    /*padding-left: 3px !important;
    padding-right: 4px !important;*/

    #identity-icon {
        background-position: center;
        background-repeat: no-repeat;
        mask-position: center !important;
        mask-repeat: no-repeat !important;
        width: 10px !important;
    }

    &.verifiedDomain {
        #identity-icon {
            list-style-image: none !important;
            background-color: rgba(0,0,0,.5);
            mask: url(images/lock-mask.svg);
            transition: background-color .3s steps(5);
        }

        &:hover {
            #identity-icon {
                background-color: var(--toolbarbutton-orange-colour);
            }
            
        }

        &:active {
            #identity-icon {
                background-color: var(--toolbarbutton-orange-colour_hover)
            }
            
        }
    }

    &.certErrorPage {
        #identity-icon {
            list-style-image: none !important;
            background-image: url(images/cert-error.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 10px !important;
            height: 13px !important;
        }
    }
}

#urlbar {
    &[open],
    &:focus {
        > #urlbar-background {
            box-shadow: none !important;

            &::before {
                background-color: white !important;
            }
        }
    }
}

#favimginurlbar {
    &[style='list-style-image: url("chrome://branding/content/icon32.png");'],
    &[style='list-style-image: url("chrome://global/skin/icons/info.svg");'],
    &[style='list-style-image: url("chrome://global/skin/icons/settings.svg");'],
    &[style='list-style-image: url("chrome://global/skin/icons/warning.svg");'],
    &[style='list-style-image: url("chrome://browser/skin/privatebrowsing/favicon.svg");'] {
        list-style-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/190.ico") !important;
    }
}

toolbarbutton {
    &#feedbackButton {
        @supports not -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
            display: none !important;
        }
    }
}

@supports -moz-bool-pref("BeautyFox.option.showDownloadProgress") {
    #downloads-button {
        .toolbarbutton-animatable-box {
            display: block !important;
        }
    
        #downloads-indicator-anchor {
            z-index: 1 !important;
        }
    
        #downloads-indicator-progress-outer {
            top: -2px !important;
            left: -2px !important;
            width: 20px !important;
            height: 20px !important;
            justify-content: left !important;
            border-radius: 2px !important;
            border: 1px solid rgb(181,181,181) !important;
            background: white !important;
        }

        #downloads-indicator-progress-inner {
            appearance: progresschunk !important;
            width: var(--download-progress-pcent) !important;
            height: 100% !important;
        }
    }
}

#nav-bar,
#endToolbar {
    #stop-reload-button {
        align-items: center;
        //width: calc(var(--stop-reload-button_width) * 2);
    }

    .toolbarbutton-icon,
    .toolbarbutton-badge-stack {
        padding: 0 !important;
        height: 16px !important;
        width: 17px !important;
    }

    #reload-button,
    #stop-button {
        padding: 0 !important;
        height: 22px !important;
        width: var(--stop-reload-button_width) !important;
        overflow: hidden;
        margin: 0 !important;
    
        .toolbarbutton-icon {
            height: 16px !important;
            width: 16px !important;
        }
    }

    #reload-button {
        width: calc(var(--stop-reload-button_width) + 3px) !important;
    }

    @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
        #stop-button {
            width: calc(var(--stop-reload-button_width) + 3px) !important;
        }
    }
    
    toolbarbutton,
    .toolbaritem-combined-buttons {
        height: 24px !important;
        width: 24px !important;
        margin-bottom: var(--toolbaritems-margin-bottom) !important;
    }

    .toolbarbutton-1 {
        margin-right: 1px !important;
    }
    
    .toolbarbutton-icon {
        height: 16px !important;
        width: 17px !important;
    }
    
    toolbaritem {
        padding-block: 0 !important;
        margin-bottom: var(--toolbaritems-margin-bottom);

        > toolbarbutton {
            margin-bottom: 0 !important;
        }
    }

    toolbaritem#urlbar-container {
        margin-bottom: var(--toolbaritems-margin-bottom) !important;
    }

    #downloads-indicator-anchor {
        display: none;
    }
    
    
    toolbar .toolbaritem-combined-buttons {
        margin-inline: 0 !important;
    }
    
    .toolbaritem-combined-buttons {
        padding: 0 calc(var(--toolbarbutton-outer-padding) + 2px) !important;
    }
    
    toolbarbutton,
    toolbaritem {
        background-position: center;
        background-repeat: no-repeat;
    
        &#home-button,
        &#bookmarks-menu-button,
        &#bookmarksSidebarButton,
        &#PanelUI-menu-button,
        &#IEMenuButton,
        &#feedbackButton,
        &#unified-extensions-button,
        &#downloads-button {
            list-style-image: none !important;
            position: relative;
            background-position: center !important;
            background-repeat: no-repeat !important;
    
            &::before {
                content: '';
                mask-repeat: no-repeat;
                mask-position: center;
                position: absolute;
                width: 14px; /* Width of each frame */
                height: 14px; /* Height of each frame */
                background-image: url('chrome://userchrome/content/images/toolbarbutton-debug-states.png'); /* Replace with the path to your sprite image */
                background-size: 14px 84px; /* Width x Height of the entire sprite */
                background-repeat: no-repeat;
                transition: background-position-y 0.15s steps(4) /* total frames */; /* Transition effect with steps */

                /* Initial position (first frame) */
                background-position-y: 0;
                z-index: 1;
            }
    
            &:hover {
                &::before {
                    background-position-y: -56px; /* Height of each frame * (total frames - 1) */
                }
            }
    
            &:active,
            &[open="true"] {
                &::before {
                    transition: background-position-y 0s steps(1);
                    background-position-y: -70px; /* Height of each frame * total frames */
                }
            }
        }
    
        &#home-button {
            background-image: url(images/home.svg);  

            &::before {
                background-image: url('chrome://userchrome/content/images/toolbarbutton-blueIE9-states.png'); /* Replace with the path to your sprite image */

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background-image: url('chrome://userchrome/content/images/toolbarbutton-blueIE10-states.png'); /* Replace with the path to your sprite image */
                }

                mask-image: url(images/home-mask.svg);
            }
        }
    
        &#bookmarks-menu-button,
        &#bookmarksSidebarButton {
            background-image: url(images/favorites.svg);
            width: 23px !important;
            
            &::before{
                background-image: url('chrome://userchrome/content/images/toolbarbutton-yellowIE9-states.png'); /* Replace with the path to your sprite image */

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background-image: url('chrome://userchrome/content/images/toolbarbutton-yellowIE10-states.png'); /* Replace with the path to your sprite image */
                }

                mask-image: url(images/favorites-mask.svg);
            }
        }
    
        &#unified-extensions-button {
            background-image: url(images/extensions.svg);
    
            &::before{
                background-image: url('chrome://userchrome/content/images/toolbarbutton-greenIE9-states.png'); /* Replace with the path to your sprite image */

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background-image: url('chrome://userchrome/content/images/toolbarbutton-greenIE10-states.png'); /* Replace with the path to your sprite image */
                }
                
                mask-image: url(images/extensions-mask.svg);
            }
        }
    
        &#downloads-button {
            background-image: url(images/downloads.svg);
            
            &::before {
                background-image: url('chrome://userchrome/content/images/toolbarbutton-blueIE9-states.png'); /* Replace with the path to your sprite image */

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background-image: url('chrome://userchrome/content/images/toolbarbutton-blueIE10-states.png'); /* Replace with the path to your sprite image */
                }
                
                mask-image: url(images/home-mask.svg);
            }

            @supports -moz-bool-pref("BeautyFox.option.showDownloadProgress") {
                > .toolbarbutton-badge-stack {
                    opacity: 1 !important;
                    mask-image: url(images/downloads-mask.svg);
                    mask-position: center;
                    mask-repeat: no-repeat;
                    z-index: 1 !important;

                    .toolbarbutton-animatable-box {
                        display: grid !important;
                    }

                    #downloads-indicator-progress-outer {
                        visibility: visible !important;
                        background: none !important;
                    }
    
                    #downloads-indicator-progress-inner {
                        border-radius: 0 !important;
                        background: none !important;
                        background-color: var(--toolbarbutton-blue-colour_hover) !important;
                        width: 100% !important;
                        height: var(--download-progress-pcent) !important;
                        position: absolute;
                        top: 0;
                        left: 0;
                        appearance: none !important;
                    }
                }
            }
        }
    
        &#PanelUI-menu-button,
        &#IEMenuButton {
            background-image: url(images/settings.svg);  
            
            &::before {
                background-image: url('chrome://userchrome/content/images/toolbarbutton-blueIE9-states.png'); /* Replace with the path to your sprite image */

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background-image: url('chrome://userchrome/content/images/toolbarbutton-blueIE10-states.png'); /* Replace with the path to your sprite image */
                }

                mask-image: url(images/settings-mask.svg);
            }

            &[badge-status="update-manual"] {
                .toolbarbutton-badge-stack {
                    .toolbarbutton-badge {
                        background-color: white !important;
                        border-radius: 50% !important;
                        border: 2px solid orange !important;
                        fill: transparent !important;
                        margin-inline-end: 0 !important;
                        margin: 0 !important;
                        position: absolute !important;
                        left: 50% !important;
                        bottom: -13px !important;
                        transform: translateX(-50%) !important;
                        filter: blur(2px) !important;
                        padding: 0 !important;
                        min-width: 3px !important;
                        min-height: 3px !important;
                        z-index: -2 !important;
                    }
                }
            }
        }

        &#feedbackButton {
            background-image: url(images/feedback.svg);
            
            &::before {
                background-image: url('chrome://userchrome/content/images/toolbarbutton-smileyIE11-states.png'); /* Replace with the path to your sprite image */

                mask-image: url(images/feedback-mask.svg);
            }

            &::after {
                content: '';
                position: absolute;
                height: 14px;
                width: 14px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(images/feedback.svg);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
        }
    }
    
    #PanelUI-button {
        align-items: end;
        max-width: 1px !important;
        opacity: 0 !important;
    }

    #PanelUI-menu-button {
        padding: 0 !important;
        height: 24px;
        margin-bottom: 0 !important;
    }
}

.titlebar-buttonbox {
    width: 100%;
    height: 21px;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: end;
}

.titlebar-buttonbox-container {
    position: fixed !important;
    top: 0;
    right: 0;
}

#browser,
#customization-container {
    background-clip: padding-box;
    border-left: 1px solid var(--browser-outer-border-color);
    border-right: 1px solid var(--browser-outer-border-color);
    border-bottom: 1px solid var(--browser-outer-border-color);
    position: relative;
    padding: 0 1px 1px 1px;
    border-radius: 0px 0px 3px 3px;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 2px);
        height: calc(100% - 1px);
        border-left: 1px solid var(--browser-inner-border-color) !important;
        border-right: 1px solid var(--browser-inner-border-color) !important;
        border-bottom: 1px solid var(--browser-inner-border-color) !important;
        z-index: 1;
        pointer-events: none;
        border-radius: 0px 0px 2px 2px;
    }
}

#identity-icon-box {
    /*padding-left: 2px !important;
    padding-right: 1px !important;*/
    width: var(--stop-reload-button_width) !important;
    justify-content: center !important;
    border-radius: 0 !important;
    background: transparent !important;
}

#stop-reload-button {
    border-top: 1px solid rgba(0, 0, 0, 0.5) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.5) !important;
    background-clip: padding-box !important;
    background-color: var(--toolbar-field-background-color) !important;
    margin-inline-start: 1px !important;
}

#stop-reload-button + #urlbar-container {
    margin-inline-start: 0 !important;

    #favimginurlbar {
        margin-left: 1px !important;
    }

    #urlbar-background {
        border-right: 1px solid rgba(0,0,0,.5) !important;
        border-left: 0 !important;
    }

    #urlbar-input-container {
        &.urlbar-remove-padding-right {
            overflow: visible !important;
            margin-inline-end: 0 !important;
            width: auto !important;
        }
    }
    
    #urlbar-go-button {
        display: block !important;
        padding: 0 !important;
        
        @supports not -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            width: calc(var(--stop-reload-button_width) + 4px) !important;
            background-position-x: 2px !important;
        }
    }
}

#urlbar-container + #stop-reload-button {
    border-left: 0 !important;
    margin-inline-start: 0 !important;
    border-right: 1px solid rgba(0,0,0,.5) !important;
    
    #stop-button {
        @supports not -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            width: calc(var(--stop-reload-button_width) + 3px) !important;
        }
        
        &::before {
            mask-position-x: 2px !important;
        }
    }

    #reload-button {
        width: var(--stop-reload-button_width) !important;
    }

    @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
        #reload-button {
            width: calc(var(--stop-reload-button_width) + 3px) !important;

            &::before {
                mask-position-x: 2px !important;
            }
        }
    }
}

.toolbarbutton-animatable-box {
    display: none !important;
}

*|*:root[chromehidden~="toolbar"] {
    #nav-bar {
        &::before {
            content: unset !important;
        }
    }

    #urlbar-container {
        width: 100vw !important;

        #urlbar-input-container {
            padding-right: 0 !important;
        }
    }

    @supports -moz-bool-pref("BeautyFox.option.hideSettingsInPopUp") {
        #nav-bar {
            padding-right: 0 !important;
        }
        
        #endToolbar {
            padding: 0 !important;

            toolbarbutton:not(#IEMenuButton) {
                display: none !important;
            }
        }

        #PanelUI-button, #IEMenuButton {
            display: none !important;
        }
    }
}

.findbar-closebutton {
    order: 0;
}

#personal-toolbar-empty {
    display: none !important;
}
#tracking-protection-icon-container {
    display: none !important;
}
#alltabs-button {
    display: none !important;
}
#picture-in-picture-button {
    display: none !important;
}
#identity-box[pageproxystate="invalid"] {
    display: none !important;
}
#identity-box.notSecure {
    display: none !important;
}
#identity-box.mixedDisplayContent {
    display: none !important;
}
#identity-box.chromeUI {
    #identity-icon-box {
        display: none !important;
    }
}
#identity-permission-box {
    display: none !important;
}
#urlbar-zoom-button {
    display: none !important;
}
#reader-mode-button {
    display: none !important;
}

#private-browsing-indicator-with-label {
    display: none !important;
}

#nav-bar-overflow-button {
    display: none !important;
}


#reload-button:not([displaystop]) + #stop-button,
#reload-button[displaystop] {
  display: block !important;
}

/* Fake titlebar accent colour for Windows 10+ on default theme with Firefox 117+ */
@supports -moz-bool-pref("BeautyFox.fix.fakeTitlebarAccentColor") {
    #titlebar,
    #nav-bar {
        background-color: AccentColor !important;

        &:not(:-moz-lwtheme):-moz-window-inactive {
            background-color: white !important;
        }
    }
    .titlebar-button > .toolbarbutton-icon {
        color: AccentColorText !important;
    
        &:not(:-moz-lwtheme):-moz-window-inactive {
            color: black !important;
        }
    }
}



@supports -moz-bool-pref("BeautyFox.option.hideUnifiedExtensions") {
    :root {
        --option_hideUnifiedExtensions: 1 !important;
    }

    #unified-extensions-button {
        display: none !important;
    }
}

@supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
    #nav-bar {
        flex: unset !important;
    }
}

@supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
    :root {
        --appearance_IE9PreRelease: 1 !important;

        --titlebar-height-calc: calc(var(--titlebar-height));

        --toolbaritems-margin-bottom: 4px;
        --urlbar-width: 28.25%;
        --urlbar-dropdown-button_width: 35px;
        --stop-reload-button_width: 23px;

        --urlbar-inprivatebadge-width: 75px;
        --urlbar-fake-dropdown-mask-position: left;
        
        &:is([privatebrowsingmode="temporary"]) {
            #urlbar-input-container {
                &::before {
                    content: '';
                    background: url(images/InPrivateBadge9PreRelease.svg);
                    margin-left: 2px;
                }
            }
        }
    }

    #main-window {
        &[sizemode="maximized"] {
            --titlebar-height-calc: calc(var(--titlebar-height) + 8px);
        }
    }

    #navigator-toolbox {
        &::after {
            border-bottom: 0;
        }
    }

    #nav-bar #stop-reload-button {
        align-items: center;
        //width: calc(var(--stop-reload-button_width) * 2 + 2px);
    }

    #nav-bar {
        overflow: visible !important;

        #urlbar-go-button {
            margin-right: 0 !important;
        }
    }

    #titlebar {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            border-radius: 2px 2px 0 0;
            top: var(--tab-height);
            left: 1px;
            width: calc(100% - 2px);
            height: 2px;
            background-color: white;
            z-index: 1;
        }
    }

    #reload-button,
    #stop-button {
        border-left: 0 !important;
        border-right: 1px solid rgba(0,0,0,.6) !important;
        width: var(--stop-reload-button_width) !important;
    }

    #urlbar-container + #stop-reload-button {
        #reload-button,
        #stop-button {
            border-right: 0 !important;
            border-left: 1px solid rgba(0,0,0,.6) !important;
        }
    }

    #urlbar-go-button {
        width: var(--stop-reload-button_width) !important;
        background-position-x: center !important;
        padding: 0 !important;
    }

    #stop-reload-button + #urlbar-container {
        #favimginurlbar {
            margin-left: 3px !important;
        }
    }

    #urlbar-input-container {
        &.urlbar-remove-padding-right {
            margin-inline-end: -23px !important;
        }
    }

    .urlbar-input-box {
        &::after {
            margin-right: -4px !important;
        }    
    }

    #urlbar-go-button,
    .search-go-button {
        border-left: 1px solid rgba(0,0,0,1) !important;
        width: 24px !important;
    }

    .urlbar-input-box {
        &::after {
            background: linear-gradient(90deg, rgba(0,0,0,.1) 49%, rgba(0,0,0,.5) 50%);
        }
    }

    #urlbar-container + #stop-reload-button {
        #stop-button {
            &::before {
                mask-position-x: center !important;
            }
        }
    }

    #stop-reload-button {
        #stop-button {
            &::before {
                mask-position-x: center !important;
            }
        }
    }

    #TabsToolbar {
        margin-bottom: -1px !important;
        z-index: 2;
        margin-left: 4px !important;
    }

    #toolbar-menubar {
        border-top: 0;
        min-height: 3px !important;
        padding-top: 2px;
        border-radius: 4px 4px 0 0;
    }

    #menubar-items {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100vw;
            background-color: rgb(145, 150, 162);
        }
    }

    @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
        #titlebar {
            &::before {
                top: 0 !important;
            }
        }
    }
}

.panel-arrowbox {
    display: none !important
}

@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    :root {
        --appearance_IE10: 1 !important;
    }

    #reload-button:not([displaystop]) + #stop-button,
    #reload-button[displaystop] {
        display: none !important;
    }

    #nav-bar {
        #stop-reload-button {
            align-items: center;
        }

        #urlbar-go-button {
            margin: 0 !important;
        }
    }

    toolbarbutton {
        &#bookmarks-menu-button,
        &#bookmarksSidebarButton {
            background-image: url(images/favorites-ie10.svg) !important; 
            
            &::before,
            &::after {
                mask-image: url(images/favorites-ie10-mask.svg) !important;
            }
        }
    }

    @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
        :root {
            --appearance_IE11: 1 !important;
        }

        @supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
            :root {
                --appearance_IE11Win10: 1 !important;
            }
        }
    }
}

@supports -moz-bool-pref("BeautyFox.option.hideFakeInnerBorders") {
    #browser {
        margin: -1px !important;
        margin-top: 0 !important;

        @supports -moz-bool-pref("BeautyFox.option.showStatusBar") {
            margin-bottom: 0 !important;
        }
    }

    #browser,
    #customization-container {
        border: 0 !important;

        &::before, &::after {
            border: 0 !important;
        }

        &::before {
            left: 0 !important;
            width: 100% !important;
        }
    }

    #toolbar-menubar {
        border-radius: 0 !important;

        &::before {
            height: 100% !important;
        }

        &[inactive="true"] {
            opacity: 0 !important;
            margin-top: -1px;
        }
    }

    #navigator-toolbox {
        &::after {
            width: 100% !important;
            left: 0 !important;
        }
    }

    #statusbarContainer {
        border: 0 !important;
        border-radius: 0 !important;

        &::before {
            border-left: 0 !important;
            border-bottom: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            width: 100% !important;
        }
    }

    #statusbarBackground {
        left: 0px !important;
        width: 100% !important;
        height: calc(100% - 2px) !important;
    }

    #toolbar-menubar, #PersonalToolbar {
        border: 0 !important;

        &::before, &::after {
            border: 0 !important;
            top: 0 !important;
            left: 0px !important;
            width: 100% !important;
        }
    }
}

@media (-moz-platform: linux) or (-moz-platform: macos) {
    #cBSafetyMenuPopUp {
        menuseparator:last-of-type {
            display: none !important;
        }
    }

    #cBSafety_windowsUpdate,
    #cBTools_diagnoseConnectionProblems {
        display: none !important;
    }
}

@media (-moz-platform: macos) {
    :root {
        --titlebar-height: 8px !important;
    }
    
    #newToolbar {
        margin-left: 76px !important;
    }

    @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
        #endToolbar {
            height: 100% !important;
            align-items: center !important;
        }
    }

    .titlebar-buttonbox-container {
        top: 6px !important;
        left: 0 !important;
        width: 0 !important;
    }
}











/*  VERY TEMPORARY NOT MY CODE */
#unified-extensions-view{
    --uei-icon-size: 20px; /*  Change icon size */
}

#unified-extensions-panel #unified-extensions-view {
    width: 100% !important;  /*  For firefox v115.x */
}

:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
    margin: 2px 4px !important;  /*  For firefox v115.x / Makes more compact */
}

.unified-extensions-item-menu-button.subviewbutton {
    padding: 2px !important;  /*  For firefox v115.x / Fix icon margins */
}

#unified-extensions-view #unified-extensions-manage-extensions {
    padding-inline: 2px !important;
    margin-bottom: 0 !important;
}

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton {
    display:none !important;
}
 
#unified-extensions-view .panel-subview-body {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
 
#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
     margin-inline-end: 2px !important;
}
 
#unified-extensions-view .unified-extensions-item-name, 
#unified-extensions-view .unified-extensions-item-message {
    padding-inline-start: 0.5em !important;
    width: 21em !important;
}
#unified-extensions-view .unified-extensions-item-action-button.subviewbutton {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}