:root {
    --devtool-horizontal-background: rgb(163,167,172) !important;
@media (prefers-color-scheme: dark) {
    --devtool-horizontal-background: rgb(75, 77, 80) !important;
}
}
.devtools-horizontal-splitter {
    background-color: var(--devtool-horizontal-background) !important;
}