@keyframes tab-throbber {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -192px;
    }
}

@keyframes guidePulseBefore {
    0% {
        transform: translateX(-50%) scale(1);
    
    }
    50% {
        transform: translateX(-50%) scale(1.2);
        
    }
    100% {
        transform: translateX(-50%) scale(1);
    
    }
}

@keyframes guidePulseAfter {
    0% {
        transform: translateX(-50%) scale(1);
    
    }
    50% {
        transform: translateX(-50%) scale(1.2);
    
    }
    100% {
        transform: translateX(-50%) scale(1);
    
    }
}

@keyframes downloadCompleted {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}