#customization-panel-container {
    display: none !important;
}

#nav-bar:not([urlbar-exceeds-toolbar-bounds]),
toolbar[overflowable][customizing] > .customization-target {
    overflow: visible !important;
}

html {
    #TabsToolbar {
        transition: opacity .5s linear;
    }

    #navigator-toolbox-background {
        background-color: rgb(0,0,0,0) !important;
        transition: background-color .5s linear;
    }

    #statusbarBackground {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgb(0,0,0,0) !important;
            transition: background-color .5s linear;
        }
    }

    #nav-bar-customization-target,
    #endToolbar,
    #addonsBar {
        position: relative !important;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -70%;
            opacity: 0 !important;
            transition: opacity .5s;
        }

        &::before {
            width: calc(100% - 40px);
            height: 100%;
            animation: guidePulseBefore 1.8s linear infinite;
            filter: blur(8px);
        }

        &::after {
            background-color: white;
            width: calc(100% - 70px);
            height: 80%;
            opacity: 80%;
            animation: guidePulseAfter 1.8s linear infinite;
            filter: blur(4px);
        }
    }

    #nav-bar-customization-target {
        &::before {
            background-color: rgba(43, 255, 0, 0.9)
        }
    }

    #endToolbar {
        min-width: 79px !important;

        &::before {
            background-color: rgba(255, 196, 0, 0.9)
        }
    }

    #addonsBar {
        &::before {
            background-color: rgba(4, 0, 255, 0.9)
        }
    }

    &[customizing="true"] {
        #customization-palette {
            #bookmarks-menu-button,
            #bookmarksSidebarButton {
                background: none !important;
            }
        }

        #wrapper-stop-reload-button {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
                    drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
        }

        #search-container {
            #searchbar {
                filter: drop-shadow(0px 0px 2px #fff)
                        drop-shadow(0px 0px 2px #fff)
                        drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
                        drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
                        
            }
        }

        #home-button,
        #bookmarksSidebarButton,
        #IEMenuButton,
        #feedbackButton {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(255, 196, 0, 0.9))
                    drop-shadow(0px 0px 4px rgba(255, 196, 0, 0.9))
        }

        #TabsToolbar {
            opacity: .3;
        }

        #navigator-toolbox-background {
            background-color: rgb(0,0,0,.5) !important;
        }

        #statusbarBackground {
            &::before {
                background-color: rgb(0,0,0,.5) !important;
            }
        }    

        #endToolbar {
            clip-path: polygon(-100% -50%, 200% -50%, 150% 27px, -100% 27px);
        }

        #addonsBar {
            overflow: hidden !important;
        }

        #nav-bar-customization-target,
        #endToolbar,
        #addonsBar {
            &::before,
            &::after {
                opacity: 1 !important;
            }
        }
    }
}

