#customization-panel-container {
    display: none !important;
}

#nav-bar:not([urlbar-exceeds-toolbar-bounds]),
toolbar[overflowable][customizing] > .customization-target {
    overflow: visible !important;
}

html {
    #TabsToolbar {
        transition: opacity .5s linear;
    }

    #navigator-toolbox-background {
        background-color: rgb(0,0,0,0) !important;
        transition: background-color .5s linear;
    }

    #statusbarBackground {
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgb(0,0,0,0) !important;
            transition: background-color .5s linear;
        }
    }

    #nav-bar-customization-target,
    #endToolbar,
    #addonsBar,
    #PersonalToolbar > toolbarpaletteitem:first-of-type,
    #PersonalToolbar > toolbarpaletteitem:last-of-type {
        position: relative !important;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -70%;
            opacity: 0 !important;
            transition: opacity .5s;
            pointer-events: none;
        }

        &::before {
            width: calc(100% - 40px);
            height: 100%;
            animation: guidePulseBefore 1.8s linear infinite;
            filter: blur(8px);
        }

        &::after {
            background-color: white;
            width: calc(100% - 70px);
            height: 80%;
            opacity: 80%;
            animation: guidePulseAfter 1.8s linear infinite;
            filter: blur(4px);
        }
    }

    #nav-bar-customization-target {
        &::before {
            background-color: rgba(43, 255, 0, 0.9)
        }
    }

    #endToolbar {
        min-width: 79px !important;

        &::before {
            background-color: rgba(255, 196, 0, 0.9)
        }
    }

    #PersonalToolbar > toolbarpaletteitem:first-of-type {
        &::before,
        &::after {
            position: absolute;
            width: 44px;
            height: calc(100% + 15px);
            bottom: -7px;
            z-index: 1;
        }

        &::before {
            left: -17px;
            background-color: rgba(0, 0, 255, 0.9)
        }

        &::after {
            left: -23px;
        }
    }

    #PersonalToolbar > toolbarpaletteitem:last-of-type {
        &::before,
        &::after {
            position: absolute;
            width: 44px;
            height: calc(100% + 15px);
            bottom: -7px;
            left: unset !important;
            z-index: 1;
        }

        &::before {
            right: -56px;
            background-color: rgba(247, 0, 255, 0.9)
        }

        &::after {
            right: -60px;
        }
    }

    #addonsBar {
        &::before {
            background-color: rgba(255, 0, 0, 0.9)
        }
    }

    &[customizing="true"] {
        #customization-palette {
            #bookmarks-menu-button,
            #bookmarksSidebarButton {
                background: none !important;
            }
        }

        #wrapper-stop-reload-button {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
                    drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
        }

        #search-container {
            #searchbar {
                filter: drop-shadow(0px 0px 2px #fff)
                        drop-shadow(0px 0px 2px #fff)
                        drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
                        drop-shadow(0px 0px 4px rgba(43, 255, 0, 0.9))
                        
            }
        }

        #home-button,
        #bookmarksSidebarButton,
        #IEMenuButton,
        #feedbackButton {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(255, 196, 0, 0.9))
                    drop-shadow(0px 0px 4px rgba(255, 196, 0, 0.9))
        }

        #addToBookmarksBarButton {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(0, 0, 255, 0.9))
                    drop-shadow(0px 0px 4px rgba(0, 0, 255, 0.9))
        }

        #cBHomeButton,
        #cBReadMailButton,
        #cBToolsMenuButton,
        #cBPageMenuButton,
        #cBHelpMenuButton,
        #cBPrintButton,
        #cBSafetyMenuButton,
        #_a9c2ad37-e940-4892-8dce-cd73c6cbbc0c_-browser-action {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(247, 0, 255, 0.9))
                    drop-shadow(0px 0px 4px rgba(247, 0, 255, 0.9))
        }

        #zoomMenuButton {
            filter: drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 2px #fff)
                    drop-shadow(0px 0px 4px rgba(255, 0, 0, 0.9))
                    drop-shadow(0px 0px 4px rgba(255, 0, 0, 0.9))
        }

        #TabsToolbar {
            opacity: .3;
        }

        #navigator-toolbox-background {
            background-color: rgb(0,0,0,.5) !important;
        }

        #statusbarBackground {
            &::before {
                background-color: rgb(0,0,0,.5) !important;
            }
        }    
        
        #nav-bar-customization-target {
            clip-path: polygon(-100% -50%, 200% -50%, 150% 35px, -100% 35px);
        }

        #endToolbar {
            clip-path: polygon(-100% -50%, 200% -50%, 150% 27px, -100% 27px);

            @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
                clip-path: polygon(-100% -50%, 200% -50%, 150% 29px, -100% 29px);
            }
        }
        
        #addonsBar {
            overflow: hidden !important;
        }

        #nav-bar-customization-target,
        #endToolbar,
        #PersonalToolbar > toolbarpaletteitem:first-of-type,
        #PersonalToolbar > toolbarpaletteitem:last-of-type,
        #addonsBar {
            &::before,
            &::after {
                opacity: 1 !important;
            }
        }
    }
}

