:root {
    --favorites-label: "Favourites";

    --label-view-downloads: View Downloads - ;
    --label-view-n-track-your-downloads: View and track your downloads;

    --label-about-before: About ;
    --label-about-after: ;

    --get-more-add-ons-label: "Get More Add-ons";

    --feeds-label: "Feeds";

    --find-label: "Find:";
    --previous-label: "Previous";
    --next-label: "Next";
    
}

window,
html {
    &[lang="en-US"] {
        --favorites-label: "Favorites";
    }

    &[lang*="pt"] {
        --get-more-add-ons-label: "Mais extensões";

        --find-label: "Buscar:";
        --previous-label: "Anterior";
        --next-label: "Seguinte";
    }

    &[lang="pt-BR"] {
        --favorites-label: "Favoritos";

        --label-view-downloads: Exibir Downloads - ;
        --label-view-n-track-your-downloads: Exibir e acompanhar seus downloads;

        --label-about-before: Sobre o ;
        --label-about-after: ;
    }

    &[lang="pt-PT"] {
        --favorites-label: "Marcadores";

        --label-view-downloads: Exibir Transferências - ;
        --label-view-n-track-your-downloads: Ver e controlar tranferências;

        --label-about-before: Acerca do ;
        --label-about-after: ;
    }

    &[lang*="es"] {
        --favorites-label: "Favoritos";

        --label-view-downloads: Ver descargas: ;
        --label-view-n-track-your-downloads: Ver y seguir sus descargas;

        --label-about-before: Acerca de ;
        --label-about-after: ;

        --get-more-add-ons-label: "Más complementos";

        --feeds-label: "Fuentes";

        --find-label: "Buscar:";
        --previous-label: "Anterior";
        --next-label: "Siguiente";

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            --label-view-n-track-your-downloads: Ver y seguir tus descargas;
        }
    }

    &[lang="ja"] {
        --label-view-downloads: ダウンロードの表紙 - ;
        --label-view-n-track-your-downloads: ダウンロードの表紙と追跡;

        --label-about-before: ;
        --label-about-after: のバージョン情報;
    }
}