menulist > menupopup {
    background-color: Menu !important;
}

@media not (-moz-windows-non-native-menus) {
    toolbarbutton menupopup[placespopup] {
        --panel-shadow-margin: 0px !important;
    }
}

toolbarbutton menupopup[placespopup] {
    appearance: auto !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) {
    appearance: auto !important;
    padding-inline-end: 24px !important;
    min-height: 0 !important;
}

:is(panel, menupopup)::part(content), arrowscrollbox {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

toolbarbutton menupopup[placespopup] menuseparator {
    appearance: auto !important;
    margin: 0 !important;

    &::before {
        content: unset !important;
    }
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem) :is(.menu-text, .menu-iconic-text, .menu-iconic-left, .menu-iconic-accel, .menu-accel, .menu-right) {
    margin-inline-start: 2px !important;
    padding-inline-end: 2px !important;
    padding-inline-start: 1.45em !important;
    appearance: auto !important;
    margin: 0 !important;
    padding: 1px 0 !important;
}

.menu-right {
    list-style-image: none !important;
}

.menu-accel-container {
    appearance: auto !important;
    margin-left: 24px !important;
}