:root {
    --tab-background-colour: linear-gradient(180deg, rgba(254,254,254,.62) 0%, rgba(110,110,110,.5) 100%);
    --tab-background-colour_hover: linear-gradient(180deg, rgba(254,254,254,.88) 0%, rgba(213,213,213,.7) 100%);
    --tab-background-colour_active: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(254,254,254,.62) 100%);
    --tab-border-colour: rgba(96, 96, 96, .78);
    --tab-inset-border-colour: var(--tab-background-colour);
    --tab-border-radius: 0 !important;
    --tab-height: 23px;

    --newtab-button-width: 29px;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        --tab-border-radius: 5px 5px 0 0 !important;
        --tab-background-colour: rgba(255, 255, 255, .3);
        --tab-background-colour_hover: rgba(255, 255, 255, .5);
        --tab-background-colour_active: linear-gradient(0deg, rgb(255, 255, 255) 0%, var(--tab-inset-border-colour) 100%);
        --tab-inset-border-colour: rgba(254, 254, 254, 0.4);
        --newtab-button-width: 27px;

        @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
            --tab-height: 29px;
        }
    }

    @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
        --tab-background-colour: rgba(200, 200, 200, 0.5);
        --tab-background-colour_hover: rgba(242, 242, 242, 0.9);
        --tab-border-colour: rgba(0, 0, 0, .5);

        @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
            @supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
                --newtab-button-width: 22px;
            }
        }
    }

    @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
        --option_tabsOnNavRow: 1 !important;
        --tab-height: 27px;

        &:is([privatebrowsingmode="temporary"]) {
            #urlbar-container {
                width: calc(var(--urlbar-inprivatebadge-width) + var(--urlbar-width-calc)) !important;
                min-width: calc(var(--urlbar-inprivatebadge-width) + var(--urlbar-min-width)) !important;
            }
        }
    }

    @media (prefers-color-scheme: dark) {

            --tab-background-colour: linear-gradient(180deg, rgba(254,254,254,.62) 0%, rgba(110,110,110,.5) 100%);
            --tab-background-colour_hover: linear-gradient(180deg, rgba(254,254,254,.88) 0%, rgba(213,213,213,.7) 100%);
            --tab-background-colour_active: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(254,254,254,.62) 100%);
            --tab-border-colour: rgba(96, 96, 96, .78);
    
            @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
                --tab-background-colour: rgba(255, 255, 255, .3);
                --tab-background-colour_hover: rgba(255, 255, 255, .5);
                --tab-background-colour_active: linear-gradient(0deg, rgb(255, 255, 255) 0%, var(--tab-inset-border-colour) 100%);
                --tab-inset-border-colour: rgba(254, 254, 254, 0.4);
        
            }
        
            @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                --tab-background-colour: rgba(200, 200, 200, 0.5);
                --tab-background-colour_hover: rgba(242, 242, 242, 0.9);
                --tab-border-colour: rgba(0, 0, 0, .5);
        
            }
    
        
    }
}

#customization-container {
    background-image: linear-gradient(180deg, #02a1e2 0%, #FFFFFF 100%) !important;
    background-size: 100% 84px;
    background-repeat: no-repeat;
    background-color: #FEFEFE !important;

    @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
        background-image: none !important;
        background-color: rgb(232, 238, 245) !important;
    }
}

#TabsToolbar {
    margin: 0 2px;
    max-height: var(--tab-height);
    background-image: url(images/shine.png) !important;
    background-size: 100% var(--tab-height);
    background-position: bottom;
    -moz-window-dragging: drag !important;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
            margin-left: 5px !important;
        }
    }

    @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
        background-image: none !important;
        margin: 0 2px !important;
    }
}

#TabsToolbar-customization-target {
    height: var(--tab-height);

    @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
        margin-right: 9px !important;
    }
}

#tabbrowser-tabs {
    --tab-min-height: var(--tab-height) !important;

    &[overflow="true"] {
        margin-right: -1px !important;

        #TabsMSEdgeNewTabButton {
            display: none !important;
        }
    }

    &:not([overflow="true"]) {
        ~ #MSEdgeNewTabButton{
            display: none;
        }
    }
}

#scrollbutton-up,
#scrollbutton-down {
    border-bottom: none !important;
    width: 20px !important;
    border: 1px solid var(--tab-border-colour) !important;
    border-bottom: 0px !important;
    padding: 0 !important;
    border-radius: var(--tab-border-radius) !important;
    z-index: 1 !important;
    position: relative;

    @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
        background-color: transparent !important;
        border: 1px solid var(--tab-border-colour) !important;
        border-bottom: 0px !important;
    }
    
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-image-slice: 1;
        border-image-source: var(--tab-inset-border-colour);
        border-bottom: none !important;
        background: var(--tab-background-colour);

        @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            left: 1px !important;
            border-width: 0 !important;
            outline: 1px solid var(--tab-inset-border-colour);
        }

        @supports -moz-bool-pref("BeautyFox.appearance.IE10")  {
            border: unset !important;
        }
    }

    &:hover {
        &::before {
            border-image-slice: 1;
            border-image-source: var(--tab-inset-border-colour);
            background: var(--tab-background-colour_hover);
        }
    }

    .toolbarbutton-icon {
        list-style-image: url("images/left.svg") !important;
    }
}

#scrollbutton-up {
    margin-right: -1px !important;
}

#scrollbutton-down {
    margin-left: -1px !important;
}

.tabbrowser-tab {
    padding: 0 !important;
    border-radius: var(--tab-border-radius) !important;
    color: black !important;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        &:only-of-type {
            .tab-close-button {
                display: none !important;
            }
        }
    }
    
    .tab-background {
        box-shadow: none !important;
        border: 1px solid var(--tab-border-colour) !important;
        margin-left: -1px !important;
        border-bottom: 0px !important;
        background: transparent !important;
        position: relative;
        overflow: hidden;

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            &:hover {
                background: var(--tab-background-colour_hover) !important;
            }
        }
    
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-width: 1px;
            border-style: solid;
            border-image-slice: 1;
            border-image-source: var(--tab-inset-border-colour);
            border-bottom: none !important;
            background: var(--tab-background-colour);
            box-sizing: border-box;

            @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
                left: 1px !important;
                border-width: 0 !important;
                outline: 1px solid var(--tab-inset-border-colour);
            }

            @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                border: unset !important;
            }
        }
    }

    &:hover {
        .tab-background {
            background: transparent !important;

            &::before {
                border-image-slice: 1;
                border-image-source: var(--tab-inset-border-colour);
                background: var(--tab-background-colour_hover);

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background: var(--tab-background-colour_hover);
                    border: unset !important;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &[selected="true"] {
        @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            .tab-label {
                margin-bottom: -2px !important;
            } 
        }

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            &[class*="identity-color"] {
                .tab-background {
                    &::before {
                        background: color-mix(in srgb, var(--identity-icon-color) 60%, white) !important;
                        opacity: 1;
                        mask: unset !important;
                    }
                }
            }
        }

        .tab-background {
            background: transparent !important;

            &::before {
                border-image-slice: 1;
                border-image-source: var(--tab-inset-border-colour);
                background: var(--tab-background-colour_active);

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background: white !important;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .tab-close-button {
            display: block;
        }
    }

    &:first-child {
        .tab-background {
            border-left: 1px solid var(--tab-border-colour) !important;
            margin-left: 0px !important;
        }
    }

    &:not([busy="true"]) {
        .tab-icon-image {
            &:not(&[src*="data"]) {
                content: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/190.ico") !important;
            }
            &:-moz-broken {
                display: block !important;
            }
        }
    }

    .tab-close-button {
        height: 16px !important;
        width: 16px !important;
        padding: 0 !important;
        list-style-image: none !important;
        mask: url(images/close-mask.svg);
        mask-position: center;
        mask-repeat: no-repeat;
        display: none;
        background-color: #8c9198;

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            background-color: #A7A5A5;
        }
        
        &:hover {
            background-color: #E73C3C !important;
        }
    
        &:active {
            background-color: #E10C0C !important;
        }
            
    }

    &[class*="identity-color"] {
        .tab-background {
            &::before {
                background: color-mix(in srgb, var(--identity-icon-color) 60%, white);
                mask-image: linear-gradient(black, rgba(0,0,0,.2));

                @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                    background: color-mix(in srgb, var(--identity-icon-color) 60%, white) !important;
                    opacity: .5;
                    mask: unset !important;
                }
            }

            @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                &:hover {
                    &::before {
                        background: color-mix(in srgb, var(--identity-icon-color) 60%, white) !important;
                        mask: unset !important;
                        opacity: .8;
                    }
                }
            }
        }

        .tab-context-line {
            display: none;
        }
    }

    &:not([selected="true"]):hover {
        &[class*="identity-color"] {
            .tab-background {
                background: rgba(255,255,255,.5) !important;
            }
        }
    }
}

.tab-loading-burst {
    display: none !important;
}

.tabbrowser-tab:not([pinned]) {
    &:hover {
        .tab-close-button {
            display: block !important;
        }
    }
}

.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: 200px !important;
    min-width: 45px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 4px !important;
    border-left: 1px solid var(--tab-border-colour) !important;
}

.tab-context-line {
    position: absolute !important;
    top: 3px;
    left: -2px;
    height: 100% !important;
    width: 100% !important;
    background-color: var(--identity-icon-color);
    opacity: 0.3;
}

.tab-content {
    padding: 0 7px 0 6px !important;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        padding: 0 7px 0 7px !important;
    }
}

.tab-icon-stack {
    margin-inline-end: 4px !important;
}

.tab-throbber,
.tab-icon-pending,
.tab-icon-image,
.tab-sharing-icon-overlay,
.tab-icon-overlay {
    margin-inline-end: 0 !important;
}

toolbarbutton#tabs-newtab-button,
toolbarbutton#TabsMSEdgeNewTabButton,
#TabsToolbar #new-tab-button,
#TabsToolbar #MSEdgeNewTabButton {
    width: var(--newtab-button-width) !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid var(--tab-border-colour) !important;
    border-bottom: 0px !important;
    background: transparent;
    border-radius: var(--tab-border-radius) !important;
    height: var(--tab-height) !important;
    position: relative;
    overflow: hidden;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        width: 27px;
        height: calc(100% - 1px);
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 1px;
        border-style: solid;
        border-image-slice: 1;
        border-image-source: var(--tab-inset-border-colour);
        border-bottom: none !important;
        background: var(--tab-background-colour);
        box-sizing: border-box;

        @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            border: 0 !important;
        }

        @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
            border: unset !important;
        }
    }

    &:hover {
        .toolbarbutton-icon {
            background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31062.ico");
        }

        @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
            &::before {
                background-color: var(--tab-background-colour_hover) !important;
            }
        }
    }

    .toolbarbutton-icon {
        padding: 0 !important;
        height: 16px !important;
        width: 16px !important;
        list-style-image: none !important;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;

        @supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
            background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31062.ico"); 
        }
    }

    @supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
        &:hover {
            &::before {
                background: var(--tab-background-colour_hover) !important;
            }
        }
    }
}

toolbarbutton#tabs-newtab-button,
toolbarbutton#TabsMSEdgeNewTabButton {
    margin-left: -1px !important;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        &::before {
            outline: 1px solid var(--tab-inset-border-colour);
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            outline-offset: -1px;
            border-radius: 3px 3px 0 0 !important;
        }
    }
}

.tab-label-container[textoverflow][labeldirection="ltr"]:not([pinned]) {
    mask-image: none !important;
}

.tab-text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tab-icon-sound-label {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
    :root[sessionrestored] .tab-throbber[busy]::before {
        content: unset !important;
    }
}


.tab-throbber {
    background-image: url('chrome://userchrome/content/resources/ieframe.dll/Bitmap/624.png') !important;
    background-repeat: no-repeat !important;
    width: 16px !important;
    height: 16px !important;
    animation: tab-throbber .7s steps(12) infinite !important;
    opacity: 1 !important;
}

#main-window {
    &[sizemode="maximized"],
    &[sizemode="fullscreen"] {
        #TabsToolbar {
            margin: 0;
        }
    }

    &[sizemode="fullscreen"] {
        #TabsToolbar {
            background-image: none !important;
        }
    }
}

@supports -moz-bool-pref("BeautyFox.appearance.IE10") {
    @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
        @supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
            toolbarbutton#TabsMSEdgeNewTabButton,
            #TabsToolbar #MSEdgeNewTabButton {
                &:hover {
                    .toolbarbutton-icon {
                        background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31065.ico") !important;
                    }
                }

                .toolbarbutton-icon {
                    background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31065.ico") !important;
                }

                @supports -moz-bool-pref("BeautyFox.option.newEdgeButton") {
                    &:hover {
                        .toolbarbutton-icon {
                            background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31087.ico") !important;
                        }
                    }

                    .toolbarbutton-icon {
                        background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31087.ico") !important;
                    }
                }
            }

            toolbarbutton#TabsMSEdgeNewTabButton {
                display: flex !important;
            }

            @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
                :root {
                    --newtab-button-width: 26px;
                }
            }
        }
    }
}

@supports not -moz-bool-pref("BeautyFox.appearance.IE11Win10") {
    #TabsToolbar #MSEdgeNewTabButton,
    toolbarbutton#TabsMSEdgeNewTabButton {
        display: none !important;
    }
}

@supports -moz-bool-pref("BeautyFox.option.hideEdgeButton") {
    #TabsToolbar #MSEdgeNewTabButton,
    toolbarbutton#TabsMSEdgeNewTabButton {
        display: none !important;
    }
}