:root {
    --toolbar-bgcolor: #e6effa !important;

    @supports not -moz-bool-pref('BeautyFox.appearance.IE10') {
        @supports -moz-bool-pref('BeautyFox.option.useAccentColourToolbars') {
            --toolbar-bgcolor: color-mix(in srgb, var(--userAccentColor) 10%, white) !important;
        }
    }

    @supports -moz-bool-pref('BeautyFox.appearance.IE10') {
        --toolbar-bgcolor: #f7f7f7 !important;
    }
}

#history-menu {
    display: none !important;
}

#bookmarksMenu {
    .menubar-text {
        &::before {
            content: var(--favorites-label) !important;
        }
    }
}

.toolbarbutton-icon {
    border-radius: 0 !important;
}

#suggestedsites_bruni_com-BAP {
    &::after {
        content: url(images/dropdown.png);
        margin-bottom: 6px;
        margin-left: 6px;
        margin-right: 3px;
    }
}

#suggestedsites_bruni_com-BAP,
#unified-extensions-button {
    padding: 3px !important;
    align-items: center !important;

    @supports not -moz-bool-pref('BeautyFox.option.moveExtensionsButtonToEndToolbar') {
        &::after {
            content: url(images/dropdown.png);
            margin-bottom: 6px;
            margin-left: 6px;
            margin-right: 3px;
        }
    }

    &:active,
    &[open="true"] {
        &::after,
        .toolbarbutton-icon,
        .toolbarbutton-text {
            transform: translateX(1px) translateY(1px);
        }
    }

    .toolbarbutton-badge-stack {
        padding: 0 !important;
        margin-inline-end: 4px;
    }

    .toolbarbutton-text {
        display: block !important;
        padding: 0 !important;
        min-height: 0 !important;
    }

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        padding: 0 !important;
        margin-inline-end: 4px !important;
    }
}

#suggestedsites_bruni_com-BAP {
    list-style-image: url('chrome://userchrome/content/resources/ieframe.dll/Icon Group/30788.ico') !important;

    @supports -moz-bool-pref("BeautyFox.option.smallBookmarkItem") {
        max-width: 62px !important;
    }

    @supports -moz-bool-pref("BeautyFox.option.iconOnlyBookmarkItem") {
        .toolbarbutton-text {
            &::before {
                content: unset !important;
            }
        }
    }

    @supports -moz-bool-pref('BeautyFox.appearance.IE9PreRelease') {
        list-style-image: url('chrome://userchrome/content/resources/ieframe.dll/Icon Group/110.ico') !important;
    }

    @supports -moz-bool-pref('BeautyFox.appearance.IE10') {
        list-style-image: url('chrome://userchrome/content/images/favicon_bing2013.svg') !important;
    }

    .toolbarbutton-icon {
        margin-inline-end: 0 !important;
    }

    .toolbarbutton-text {
        &::before {
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
    }
}

#unified-extensions-button {
    list-style-image: url('chrome://userchrome/content/resources/ieframe.dll/Icon Group/110.ico') !important;

    .toolbarbutton-text {
        &::before {
            content: var(--get-more-add-ons-label) !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
    }

    @supports not -moz-bool-pref("BeautyFox.option.moveExtensionsButtonToEndToolbar") {
        @supports -moz-bool-pref("BeautyFox.option.smallBookmarkItem") {
            max-width: 62px !important;
        }

        @supports -moz-bool-pref("BeautyFox.option.iconOnlyBookmarkItem") {
            .toolbarbutton-text {
                &::before {
                    content: unset !important;
                }
            }
        }
    }
}

#newToolbar {
    display: flex;
    align-items: end;
    -moz-window-dragging: drag !important;
    position: relative;
    overflow: visible !important;
    box-sizing: border-box;

    @supports -moz-bool-pref("BeautyFox.appearance.IE9PreRelease") {
        @supports -moz-bool-pref("BeautyFox.option.tabsOnNavRow") {
            margin-bottom: 3px;

            &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                height: 3px;
                width: calc(100% - 4px);
                background-color: white;
                border-radius: 4px 4px 0 0;
                
                //outline: 1px solid var(--browser-outer-border-color) !important;
                margin-left: 1px;
    
                @supports not -moz-bool-pref("BeautyFox.option.hideFakeInnerBorders") {
                    border-left: 1px solid var(--browser-inner-border-color) !important;
                    border-right: 1px solid var(--browser-inner-border-color) !important;
                    border-top: 1px solid var(--browser-inner-border-color) !important;
                }
            }
        }
    }
}

#PersonalToolbar {
    toolbaritem:first-of-type {
        margin-right: 0 !important;
    }
    
    toolbarbutton:not(#PlacesChevron) {
        appearance: auto !important;
    }

    &[collapsed="true"] {
        visibility: visible !important;

        &.instant {
            visibility: visible !important;
        }
    }

    #suggestedsites_bruni_com-BAP {
        align-items: center !important;

        .toolbarbutton-text {
            display: block !important;
            padding-top: 0 !important;
            min-height: 0 !important;
        }
    }

    .toolbaritem-combined-buttons {
        margin-inline: 0 !important;
    }
}

#statusbarContainer {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--browser-outer-border-color);
    border-left: 1px solid var(--browser-outer-border-color);
    border-right: 1px solid var(--browser-outer-border-color);
    border-radius: 0px 0px 3px 3px;
    max-height: 0px;
    opacity: 0;
    z-index: 1;
    max-height: 21px !important;

    @supports not -moz-bool-pref("BeautyFox.option.showStatusBar") {
        display: none;
    }
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: calc(100% - 2px);
        height: 100%;
        border-bottom: 1px solid var(--browser-inner-border-color) !important;
        border-left: 1px solid var(--browser-inner-border-color) !important;
        border-right: 1px solid var(--browser-inner-border-color) !important;
        z-index: -1;
    }

    #statusbarBackground {
        position: absolute;
        left: 1px;
        top: 0;
        width: calc(100% - 4px);
        height: calc(100% - 3px);
        background-color: #f1edec;
        border: 1px solid rgba(255, 255, 255, .5);
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            pointer-events: none;
            border-top: 1px solid #aaabab;
        }
    }

    #statusBarStatusLabel {
        flex: 1 !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        margin-left: 3px !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    > div {
        height: 100%;
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
        height: fit-content;
    }

    #statusbarTextContainer {
        margin-right: auto;
    }

    #statusbarInternetProtectionModeContainer {
        padding-left: 4px;
        width: 100%;
        max-width: 270px;
        
        @supports not -moz-bool-pref("BeautyFox.option.fakeInternetProtected") {
            display: none;
        }

        &::before {
            content: url('images/statusGlobe.png');
            margin-right: 5px;
            margin-bottom: -2px;
        }
    }

    #addonsBar {
        background-color: transparent !important;
        min-width: 200px !important;
        min-height: 22px !important;
        display: flex !important;
        padding-left: 10px !important;
        max-height: 21px !important;
        overflow: hidden !important;

        > toolbarbutton {
            appearance: auto !important;
            height: 22px !important;

            .toolbarbutton-icon,
            .toolbarbutton-text {
                padding: 0 !important;
                min-height: 0 !important;
                height: auto !important;
            }

            .toolbarbutton-icon {
                max-height: 16px !important;
                max-width: 16px !important;
            }
        }
    
        .toolbarbutton-badge-stack {
            padding: 0 !important;
        }
    }

    #gripper {
        margin-right: 1px;
    }

    #statusbarZoomContainer {
        padding-left: 10px;
        margin-right: 22px;
    }

    .toolbarbutton-badge {
        margin: 0 !important;
        margin-inline-end: 0 !important;
        font-family: normal !important;
        padding: 0 !important;
    }
}

#zoomMenuButton {
    transform: translateY(-1px) !important;
    list-style-image: url("images/statusZoom.png");
    padding-left: 9px !important;
    padding-right: 9px !important;
    min-width: 79px !important;
    margin-left: auto !important;
    margin-right: 3px !important;

    &::after {
        content: url(images/dropdown.png);
        margin-bottom: 7px;
        margin-right: -5px;
    }

    > .toolbarbutton-icon,
    > .toolbarbutton-text {
        transform: translateY(-1px) !important;
    }

    > .toolbarbutton-icon {
        height: 13px !important;
        width: 12px !important;
        margin-right: 4px !important;
    }

    > .toolbarbutton-text {
        display: block !important;
        text-align: left !important;
    }

    &[open="true"] {
        > .toolbarbutton-icon,
        > .toolbarbutton-text {
            transform: translateY(0px) translateX(1px) !important;
        }
    }
}

#main-window {
    &[sizemode="maximized"],
    &[sizemode="fullscreen"] { 
        #statusbarContainer {
            padding-top: 1px;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0px;
            
            &::before {
                content: unset;
            }

            #statusbarBackground {
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    &[sizemode="fullscreen"] { 
        #statusbarContainer {
            display: none !important;
        }
    } 
}

findbar {
    order: -1;
    margin-top: -1px;
    padding: 0 !important;
    padding-top: 3px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    border-top: none !important;
    border-bottom: 1px solid rgb(111,111,111);
    display: flex !important;
    align-items: center !important;
    height: 29px !important;
}

.findbar-container {
    height: auto !important;
    order: 1;
    margin: 0 !important;
    overflow: visible !important;

    checkbox {
        padding: 0 !important;
        margin: 0 !important;
        margin-right: 8px !important;
        transform: translateY(-2px) !important;
    }

    .findbar-highlight {
        margin-left: 8px !important;
    }

    toolbarbutton {
        appearance: auto !important;
        margin: 0 !important;
        padding: 0 6px !important;
        transform: translateY(-2px) !important;

        .toolbarbutton-icon,
        .toolbarbutton-text {
            display: none !important;
        }
    }
}

.findbar-label {
    margin-bottom: 3px !important;

    &.found-matches,
    &.findbar-find-status {
        margin-inline: 0 !important;
        margin-left: 7px !important;
        font-weight: bold !important;
    }
}

.findbar-find-previous {
    &::before {
        content: 'Previous';
    }
}

.findbar-find-next {
    position: relative;

    &::before {
        content: 'Next';
    }

    &::after {
        content: '';
        position: absolute;
        height: 18px;
        border-right: 1px solid rgb(126,131,137);
        right: -3px !important;
    }
}


.findbar-closebutton {
    padding: 0 !important;
    margin: 0 !important;
    width: 17px !important;
    height: 16px !important;
    margin-right: 5px !important;

    .toolbarbutton-icon {
        height: 8px !important;
        width: 9px !important;
    }
}

[anonid="findbar-textbox-wrapper"] {
    &::before {
        content: 'Find:';
        height: fit-content;
        margin-top: 3px;
        margin-right: 5px;
    }
}

.findbar-textbox {
    border: 1px solid rgb(93,95,98) !important;
    border-radius: 2px !important;
    height: 22px !important;
    padding: 0 !important;
    padding-left: 5px !important;
    width: 294px !important;
    margin-right: 3px !important;

    &::placeholder {
        opacity: 0 !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    &[status="notfound"] {
        background-color: var(--input-bgcolor, var(--toolbar-field-background-color)) !important;
    }
}

.findbar-entire-word {
    &::after {
        content: '';
        position: absolute;
        height: 18px;
        border-right: 1px solid rgb(126,131,137);
        right: -8px !important;
    }
}

.findbar-find-status {
    margin-inline: 0 !important;
}

@supports -moz-bool-pref("BeautyFox.option.showStatusBar") {
    #statusbarContainer {
        max-height: unset;
        opacity: 1;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    #statuspanel {
        display: none !important;
    }

    #browser,
    #customization-container {
        border-bottom: 0 !important;
        border-radius: 0 !important;
        padding-bottom: 0 !important;

        &::before {
            border-radius: 0 !important;
            border-bottom: 0 !important;
        }
    }
}

#endToolbar {
    margin-inline-start: 9px !important;
    padding-right: 5px;
    background-color: transparent !important;
    -moz-window-dragging: drag !important;
    justify-content: end !important;
}

#PersonalToolbar {
    toolbarbutton {
        height: 25px !important;
    }

    #downloads-button {
        padding-left: 4px !important;
        padding-right: 4px !important;
        align-items: center !important;

        .toolbarbutton-icon {
            padding: 0 !important;
            height: auto !important;
            width: auto !important;
        }

        @supports -moz-bool-pref("BeautyFox.option.textIconInCB") {
            .toolbarbutton-text {
                display: block !important;
            }
        }
        
        &:active {
            .toolbarbutton-icon,
            .toolbarbutton-badge-stack,
            .toolbarbutton-text {
                transform: translateX(1px) translateY(1px);
            }
        }
    }
}

#cBHomeButton,
#cBPrintButton,
#cBReadMailButton {
    padding-left: 4px !important;
    padding-right: 4px !important;
    align-items: center !important;

    .toolbarbutton-icon {
        padding: 0 !important;
        height: auto !important;
        width: auto !important;
    }

    &:active {
        .toolbarbutton-icon,
        .toolbarbutton-badge-stack,
        .toolbarbutton-text {
            transform: translateX(1px) translateY(1px);
        }
    }
}

#bookmarksSidebarButton {
    list-style-image: url("chrome://browser/skin/bookmark.svg");
}

#IEMenuButton {
    list-style-image: url("chrome://browser/skin/menu.svg");
}

#cBHomeButton {
    list-style-image: url("chrome://browser/skin/home.svg");
}

#cBReadMailButton {
    list-style-image: url("chrome://browser/skin/mail.svg");
}

#cBPrintButton {
    list-style-image: none;

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        background-image: url("chrome://userchrome/content/resources/imageres.dll/Icon Group/51.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
    }
}

#cBHomeButton {
    list-style-image: none;

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/100.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
    }
}

#cBReadMailButton {
    list-style-image: none;

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31076.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
    }
}

#cBHelpMenuButton {
    list-style-image: none !important;

    @supports -moz-bool-pref("BeautyFox.option.textIconInCB") {
        .toolbarbutton-text {
            padding-left: 4px !important;
            padding-right: 4px !important;
        }
    }

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        background-image: url("chrome://userchrome/content/resources/imageres.dll/Icon Group/99.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
    }
}

#cBPageButton {
    &::before {
        content: attr(label);
    }
}

#cBPageMenuButton {
    @supports -moz-bool-pref("BeautyFox.option.onlyIconsinCB") {
        .toolbarbutton-icon {
            list-style-image: url("images/cBPage.png") !important;
        }
    }

    .toolbarbutton-text {
        display: block;
    }

    > #cBPageMenuPopUp {
        @supports -moz-bool-pref("BeautyFox.appearance.IE11") {
            menuseparator {
                &:nth-child(6),
                &:nth-child(9),
                &:last-of-type {
                    display: none !important;
                }
            }
        }

        > #cBPage_newWindow,
        > #cBPage_cut,
        > #cBPage_copy,
        > #cBPage_paste,
        > #cBPage_eMailWindowsLive,
        > #cBPage_googleTranslate,
        > #cBPage_saveAs,
        > #cBPage_sendLinkbyEMail,
        > #cBPage_zoom,
        > #cBPage_viewSource {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
        
        > #cBPage_newWindow {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/newWindow.png') !important;
                    
                }  
            }
        }

        > #cBPage_cut {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/cut.png') !important;
                }
            }
        }
        
        > #cBPage_copy {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/copy.png') !important;
                }
            }
        }

        > #cBPage_paste {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/paste.png') !important;
                }
            }
        }
        
        > #cBPage_eMailWindowsLive {
            > .menu-iconic-left {
                &::before {
                    background-image: url('chrome://userchrome/content/resources/ieframe.dll/Icon Group/17363.ico') !important;
                }
            }
        }

        > #cBPage_googleTranslate {
            > .menu-iconic-left {
                &::before {
                    background-image: url('chrome://userchrome/content/resources/ieframe.dll/Icon Group/17364.ico') !important;
                }
            }
        }

        > #cBPage_saveAs {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/saveAs.png') !important;
                }
            }
        }

        > #cBPage_sendLinkbyEMail {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/sendLinkbyEMail.png') !important;
                }
            }
        }

        > #cBPage_zoom {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/zoom.png') !important;
                }
            }
        }

        > #cBPage_viewSource {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/viewSource.png') !important;
                }
            }
        }
    }
}

#cBSafetyMenuButton {
    @supports -moz-bool-pref("BeautyFox.option.onlyIconsinCB") {
        .toolbarbutton-icon {
            list-style-image: url("images/cBSafety.png") !important;
        }
    }

    .toolbarbutton-text {
        display: block;
    }

    > #cBSafetyMenuPopUp {
        > #cBSafety_deleteBrowsingHistory,
        > #cBSafety_inPrivateBrowsing,
        > #cBSafety_smartScreenFilter {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBSafety_deleteBrowsingHistory {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/deleteBrowsingHistory.png') !important;
                }
            }
        }

        > #cBSafety_inPrivateBrowsing {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/inPrivateBrowsing.png') !important;
                }
            }
        }

        > #cBSafety_smartScreenFilter {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/smartScreenFilter.png') !important;
                }
            }
        }
    }
}

#cBToolsMenuButton {
    @supports -moz-bool-pref("BeautyFox.option.onlyIconsinCB") {
        .toolbarbutton-icon {
            list-style-image: url("images/cBTools.png") !important;
        }
    }

    .toolbarbutton-text {
        display: block;
    }

    > #cBToolsMenuPopUp {
        > #cBTools_diagnoseConnectionProblems,
        > #cBTools_reopenLastBrowsingSession,
        > #cBTools_manageAddOns,
        > #cBTools_workOffline,
        > #cBTools_fullScreen,
        > #cBTools_internetOptions  {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }

        > #cBTools_diagnoseConnectionProblems {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/diagnose.png') !important;
                }
            }
        }

        > #cBTools_reopenLastBrowsingSession {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/reopenLastBrowsingSession.png') !important;
                }
            }
        }

        > #cBTools_manageAddOns {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/manageAddOns.png') !important;
                }
            }
        }
    
        > #cBTools_workOffline {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/workOffline.png') !important;
                }
            }
        }
    
        > #cBTools_fullScreen {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/fullScreen.png') !important;
                }
            }
        }
    
        > #cBTools_internetOptions {
            > .menu-iconic-left {
                &::before {
                    background-image: url('images/internetOptions.png') !important;
                }
            }
        }
    }
}

#cBHelpMenuButton {
    > #cBHelpMenuPopUp {
        > #cBHelp_onlineSupport {
            > .menu-iconic-left {
                position: relative;

                &::before {
                    content: '';
                    background-image: url('images/onlineSupport.png') !important;
                    background-size: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                }

                > .menu-iconic-icon {
                    display: none;
                }
            }
        }
    }
}

#downloads-button {
    .toolbarbutton-badge-stack {
        padding: 0 !important;
    }

    #downloads-indicator-anchor {
        list-style-image: none !important;
        background-image: url('chrome://userchrome/content/resources/ieframe.dll/Icon Group/113.ico') !important;
        background-size: 16px !important;
    }
}

#cBPageMenuButton,
#cBSafetyMenuButton,
#cBToolsMenuButton {
    padding-right: 4px !important;

    @supports -moz-bool-pref("BeautyFox.option.onlyIconsinCB") {
        padding-left: 3px !important;

        .toolbarbutton-text {
            display: none !important;
        }

        &::after {
            margin-left: 2px !important;
        }
    }
    
    &[open="true"],
    &:active {
        .toolbarbutton-icon {
            transform: translateX(1px) translateY(1px);
        }

        .toolbarbutton-text,
        &::after {
            transform: translateX(1px) translateY(1px);

            @supports -moz-bool-pref("BeautyFox.option.onlyIconsinCB")  {
                transform: translateX(0) translateY(0) !important;
            }
        }
    }
}

#cBPageMenuButton,
#cBSafetyMenuButton {
    padding-left: 8px !important;
}
#cBToolsMenuButton {
    padding-left: 9px !important;
}

@supports -moz-bool-pref("BeautyFox.option.onlyIconsinCB") {
    #cBPageMenuButton,
    #cBToolsMenuButton,
    #cBSafetyMenuButton {
        padding-left: 4px !important;
    }
}

#cBHomeButton,
#_a9c2ad37-e940-4892-8dce-cd73c6cbbc0c_-BAP,
#cBPrintButton,
#cBReadMailButton,
#cBPageButton,
#cBPageMenuButton,
#cBSafetyMenuButton,
#cBToolsMenuButton,
#cBHelpMenuButton {
    appearance: auto !important;
    margin-block: 0 !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;

    &[type="menu"] {
        &::after {
            content: url(images/dropdown.png);
            margin-bottom: 6px;
            margin-left: 4px;
            margin-right: 1px;
        }

        .toolbarbutton-text {
            margin-bottom: 2px !important;
        }
    }

    @supports -moz-bool-pref("BeautyFox.option.textIconInCB") {
        .toolbarbutton-text {
            display: block !important;
        }
    }
}

#addToBookmarksBarButton {
    align-items: center !important;
    justify-content: center !important;
    width: 24px !important;

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        padding: 0 !important;
        background-size: 16px !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-image: url("chrome://userchrome/content/resources/ieframe.dll/Bitmap/697-699_23.ico") !important;
    }
}

#cBHelpMenuButton {
    padding-left: 4px !important;

    &[type="menu"] {
        &::after {
            margin-left: 2px;
        }
    }

    &[open="true"],
    &:active {
        .toolbarbutton-icon,
        .toolbarbutton-text {
            transform: translateX(1px) translateY(1px);
        }
    }

    margin-right: 9px !important;
}

#_a9c2ad37-e940-4892-8dce-cd73c6cbbc0c_-BAP {
    padding-left: 8px !important;
    padding-right: 4px !important;
    list-style-image: none !important;
    align-items: center !important;

    &::after {
        content: url(images/dropdown.png);
        margin-bottom: 6px;
        margin-left: 10px;
    }

    &[open="true"],
    &:active {
        .toolbarbutton-badge-stack,
        .toolbarbutton-text {
            transform: translateX(1px) translateY(1px);
        }
    }

    .toolbarbutton-text {
        &::before {
            content: var(--feeds-label);
        }
    }

    .toolbarbutton-icon {
        height: 16px !important;
        width: 16px !important;
        background-image: url("chrome://userchrome/content/resources/ieframe.dll/Icon Group/31064.ico");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        filter: grayscale(100%) !important;
    }
      
    &[badge] {
        .toolbarbutton-icon {
            filter: grayscale(0%) !important;
        }
    }

    .toolbarbutton-badge {
        display: none !important;
    }

    .toolbarbutton-badge-stack {
        padding: 0 !important;
    }
}

@supports -moz-bool-pref("BeautyFox.option.fakeDropdownArrowsinCB") {
    #cBHomeButton,
    #cBPrintButton {
        padding-left: 8px !important;

        &::after {
            content: url(images/dropdown.png);
            margin-bottom: 6px;
            margin-left: 10px;
        }
    }
}

@supports -moz-bool-pref("BeautyFox.appearance.IE11") {
    #cBPage_eMailWindowsLive,
    #cBPage_googleTranslate,
    #cBPage_allAccelerators {
        display: none !important;
    }

    @supports -moz-bool-pref("BeautyFox.appearance.IE11Win10") {        
        #cBSafety_windowsUpdate {
            display: none !important;
        }
    }
}

@supports -moz-bool-pref("BeautyFox.option.hideExtensionsButton") {
    *,
    #PersonalToolbar {
        #unified-extensions-button,
        #unified-extensions-button:not(#PlacesChevron) {
            appearance: none !important;
            min-width: 0 !important;
            min-height: 0 !important;
            width: 0 !important;
            height: 0 !important;
            max-width: 0 !important;
            max-height: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
    
            &::before {
                content: unset !important;
            }
            
            &::after {
                content: unset !important;
            }
        }
    }
}