#places {
    color-scheme: unset !important;

    #placesToolbox {
        #placesToolbar {
            padding: 16px 10px !important;
            padding-bottom: 17px !important;
            justify-content: end;
            background-color: white !important;
            border-bottom: 1px solid rgb(214, 229, 245) !important;
            position: relative !important;

            &::before {
                content: attr(data-before);
                position: absolute;
                left: 15px;
                color: rgb(0, 51, 153);
                font-size: 12pt;
            }

            > *:not(#clearDownloadsButton, #closeButton, search-textbox) {
                display: none !important;
            }

            #clearDownloadsButton,
            #closeButton {
                position: fixed;
                bottom: 7px;
                width: 86px !important;
                appearance: button !important;
                -moz-default-appearance: button !important;

                &[disabled] {
                    opacity: 1 !important;
                }
            }

            #clearDownloadsButton {
                right: 107px !important;
            }
            
            #closeButton {
                right: 11px !important;
            }

            search-textbox {
                appearance: textfield !important;
                max-width: 252px !important;
                min-height: 22px !important;
                height: 22px !important;
                position: relative !important;

                /*&::after {
                    content: '';
                    height: 20px;
                    width: 24px;
                    background-image: url(chrome://userchrome/content/images/search7.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0;
                }*/

                &[focused] {
                    box-shadow: none !important;
                    background-color: inherit !important;
                    border-color: transparent;
                    outline: none !important;
                }
            }
        }
    }

    #placesView {
        #placesList {
            min-width: 0 !important;
            width: 0 !important;
            max-width: 0 !important;
        }
    }

    #contentView {
        background-color: rgb(240, 240, 240) !important;

        #placesViewsBox {
            border-bottom: 1px solid rgb(233, 233, 233) !important;
            margin-bottom: 39px !important;

            richlistbox {
                border: 0 !important;

                &#downloadsListBox {
                    padding: 25px 9px !important;

                    > richlistitem {
                        min-height: 77px !important;
                        align-items: center !important;
                        
                        &:not([selected="true"]) {
                            border-bottom: 1px rgb(220, 220, 220) solid !important;
                        }

                        .downloadMainArea {
                            padding: 14px 29px !important;
                            width: calc(100% - 200px);

                            .downloadTypeIcon {
                                display: none !important;
                            }

                            .downloadContainer {
                                .downloadTarget {
                                    font-size: 12pt !important;
                                    width: 50% !important;
                                }
                            }
                        }

                        .downloadButton {
                            height: 25px !important;
                            min-width: 85px !important;
                            padding: 0 !important;
                            margin-right: 33px !important;
                            color: black !important;
                            border: 1px solid white !important;
                            outline: 1px solid rgb(176, 178, 182) !important;
                            background: linear-gradient(0deg, rgb(231, 231, 231) 0%, rgb(244, 244, 244) 100%) !important;
                            justify-content: center !important;
                            border-radius: 5px !important;

                            &:hover {
                                background: linear-gradient(0deg, rgb(185, 214, 252) 0%, rgb(239, 243, 249) 100%) !important;
                            }

                            &:active, &[open="true"] {
                                background: linear-gradient(0deg, rgb(145, 192, 253) 0%, rgb(229, 236, 246) 100%) !important;
                            }

                            &::before {
                                content: attr(tooltiptext);
                            }

                            .button-box {
                                display: none !important;
                            }

                            @supports -moz-bool-pref("BeautyFox.appearance.IE10") {
                                outline: none !important;
                                border: 1px solid rgb(172, 172, 172) !important;
                                border-radius: 0 !important;
                                background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(240, 240, 240) 100%) !important;

                                &:hover {
                                    border: 1px solid rgb(126, 180, 234) !important;
                                    background: linear-gradient(0deg, rgb(220, 236, 252) 0%, rgb(236, 244, 252) 100%) !important;
                                }

                                &:active, &[open="true"] {
                                    border: 1px solid rgb(86, 157, 229) !important;
                                    background: linear-gradient(0deg, rgb(196, 224, 252) 0%, rgb(218, 236, 252) 100%) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.textbox-search-icons {
    display: grid !important;
    height: 18px !important;
    width: 18px !important;

    .textbox-search-icon {
        list-style-image: url(chrome://userchrome/content/images/search7.svg) !important;
        height: 16px !important;
        width: 16px !important;
    }

    .textbox-search-clear {
        list-style-image: url(images/clear.svg) !important;
        height: 18px !important;
        width: 18px !important;
        margin-top: -1px !important;

        &:hover {
            list-style-image: url(images/clear-hover.svg) !important;
        }
    }
}