html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin-top: 2px;
    justify-content: center;
}

body {
    width: 1024px;
}

h1 {
    font-size: 31pt;
    margin-top: 30px;
    font-weight: normal;
    background: linear-gradient(90deg, rgba(10, 168, 214, 1) 0%, rgba(137, 46, 144, 1) 50%, #ffa621 75%, rgba(137, 46, 144, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}