:root {
	--accentFirst: #3dbcf2;
	--accentSecond: #0d79c8;
	--accentThird: #8a2f90;
	
	--accentGradient: var(--accentFirst), var(--accentThird), var(--accentFirst), var(--accentThird);

	&[customcolour] {
		--desiredColourForUI: var(--accentFirst);
		--accentFirst: var(--desiredColourForUI);
		--accentSecond: color-mix(in srgb, var(--desiredColourForUI) 50%, black);
		--accentThird: color-mix(in srgb, var(--desiredColourForUI) 75%, white);
	}
}

.textHighlight {
	background: linear-gradient(90deg, var(--accentGradient));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: normal;

	// prepare for animation
	background-size: 300% 100%;
	background-position-x: 100%;
	animation: slideXAccentGradient 1s forwards .2s;
}

label {
	margin: 0;

	> * {
		display: inline-block;
	}

	&.contentHeader {
		font-size: 13pt;
		font-weight: bold;
		margin-bottom: 8px;
		margin-top: 9px;
	}
}

vbox[data-step] {
	.contentHeader:first-of-type {
		margin-top: 0;
	}
}

.footer {
	height: 84px;
	justify-content: end;
	align-items: center;
	margin-top: auto;
	gap: 9px;
	padding: 0px 27px 0px 38px;
}

hbox.comboBoxContainer,
hbox.inputContainer {
	align-items: center;
	margin-bottom: 0;

	> label {
		&:first-of-type {
			margin-right: 3px;
		}
	}
}

.comboBoxContainer,
.inputContainer {
	> label {
		&:first-of-type {
			color: black;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	hbox {
		align-items: center;
	}
}

vbox.comboBoxContainer,
vbox.inputContainer {
	> label {
		&:first-of-type {
			margin-bottom: 5px;
		}
	}
}

.spoiler {
	filter: blur(5px) brightness(.7);
	transition: filter .2s linear;

	&:hover {
		filter: blur(0) brightness(1);
		transition: filter 2s linear;
	}
}

.scroll {
	mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, transparent 100%);
	padding-bottom: 5px;
}

table {
	border-spacing: unset;
}

[disabled='true'] {
	pointer-events: none;
	opacity: .5 !important;
}