:root {
	--checkbox: linear-gradient(130deg, #e6e6e6 0%, #ffffff 100%);
	--checkboxBorder: #242424;
	--checkboxTick: var(--checkboxBorder);

	--checkboxSize: 13px;
}

checkbox {
	font-size: 10pt;
	margin: 0;
	width: fit-content;

	&:hover {
		.checkbox-label {
			opacity: .5;
		}
	}

	.checkbox-check {
		position: relative;
		border-radius: 0px;
		border: 1px solid var(--checkboxBorder);
		background: var(--checkbox);

		&:not([native]) {
			height: var(--checkboxSize);
			width: var(--checkboxSize);
		}
	
		&[checked] {
			border: 1px solid var(--checkboxBorder); // HACK: Gotta do this properly later.
			background: url("chrome://userchrome/content/frameworks/zuneMetro/resources/checkboxTick.svg") center no-repeat, var(--checkbox); // HACK: Gotta do this properly later.
			fill: currentColor;
			color: var(--checkboxTick);
		}
	}

	.checkbox-label {
		margin: 0 !important;
	}
}