:root {
	--inputColourBorder: black;
}

input {
	&[type='color'] {
		all: unset;
		width: 45px;
		height: 45px;
		box-sizing: border-box;
		transition: transform .2s;

		&:hover {
			border: 2px solid var(--inputColourBorder);
		}

		&:active {
			transform: scale(.96);
			transition: transform 0s;
		}

		div {
			border: none !important;
		}
	}
}