:root {
	--linkNormal: var(--commandlinkbuttonGlyph);
	--linkHot: black;
}

label {
	&.zuneLink {
		align-items: center;
		padding: 8px 12px;
		color: var(--linkNormal);
		font-size: 12pt;
		text-transform: lowercase;
		text-decoration: none;
		font-weight: lighter;
		cursor: default;
		white-space: nowrap;
	
		&:hover {
			color: var(--linkHot);
		}
	
		&::after {
			content: url("chrome://userchrome/content/frameworks/zuneMetro/resources/link.svg");
			margin-left: 10px;
		}
	}
}