:root {
	--vboxtabviewitem: #808080;
	--hboxtabviewitem: black;
}

tabstrip {
	display: flex;
	-moz-window-dragging: no-drag;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 1px;
	height: 100%;

	> tabviewitem {
		height: fit-content;

		&:hover {
			opacity: .5 !important;
		}

		&.active {
			pointer-events: none;
		}
	}
}

vbox > tabstrip {
	font-size: 9pt;
	gap: 14px;

	> tabviewitem {
		color: var(--vboxtabviewitem);

		&.active {
			font-weight: bold;
			color: var(--accentFirst);

			&:hover {
				opacity: 1 !important;
			}
		}
	}
}

hbox > tabstrip {
	flex-direction: column;
	width: 204px;
	padding-inline-end: 37px;
	margin-inline-start: 17px;
	margin-inline-end: 37px;
	border-right: 1px solid lightgray;
	gap: 6px;
	font-weight: bold;

	> tabviewitem {
		color: var(--hboxtabviewitem);
		font-size: 6pt;

		&.active {
			&::before {
				content: url("chrome://userchrome/content/frameworks/zuneMetro/resources/tabArrow.svg");
				position: absolute;
				left: -7px;
			}
			
			color: var(--hboxtabviewitem);
		}
	}
}